# ML Trader

In [1]:
from utils.packages import *
from utils.variables import *
from utils.i_o import *
from utils.dir_slope import *
from utils.engine import *
from utils.loops import *
from utils.order import *
import winsound

In [2]:
%%time
data = get_date_list(data)

Wall time: 0 ns

In [3]:
%%time
data = get_rolling_emas(data)

Record num : 20000
Wall time: 22.4 s

In [4]:
data['df']['DateTime_frmt']   = [dt.datetime.strptime(x,"%Y%m%d %H:%M:%S.%f") for x in data["df"]['DateTime']]
data['df'] = data['df'][['DateTime_frmt', 'Bid', 'Ask', 'tick', 'sema', 'slema', 'lema', 'tick_angle']]

In [5]:
data = get_hl(data)
data = get_avg_lines(data)

100%|████████████████████████████████| 20000/20000 [00:00<00:00, 551203.98it/s]

In [6]:
# data = get_h_avg(data)

In [17]:
data['df'][1510:1515]

,DateTime_frmt,Bid,Ask,tick,sema,slema,lema,tick_angle,h,l,h_l_gap,h_avg,l_avg,h_gap,l_gap,h_lema,l_lema
1510,2021-01-03 23:41:36.300,1.22459,1.22465,1.224620,1.224475,1.224417,1.224244,31.903012,1.224945,1.22437,0.000575,1.224460,1.223781,0.000216,0.000463,1.224460,1.223781
1511,2021-01-03 23:41:36.533,1.22458,1.22464,1.224610,1.224476,1.224418,1.224246,31.964624,1.224945,1.22437,0.000575,1.224461,1.223782,0.000215,0.000464,1.224461,1.223782
1512,2021-01-03 23:41:39.674,1.22459,1.22464,1.224615,1.224478,1.224419,1.224247,32.026149,1.224945,1.22437,0.000575,1.224462,1.223783,0.000215,0.000464,1.224462,1.223783
1513,2021-01-03 23:41:39.896,1.22459,1.22463,1.224610,1.224479,1.224420,1.224248,32.087338,1.224945,1.22437,0.000575,1.224462,1.223784,0.000214,0.000464,1.224462,1.223784
1514,2021-01-03 23:41:42.845,1.22459,1.22464,1.224615,1.224480,1.224421,1.224249,32.148193,1.224945,1.22437,0.000575,1.224463,1.223785,0.000214,0.000464,1.224463,1.223785

In [8]:
plotly_graph(data)

In [9]:
sys.exit()

SystemExit:

In [ ]:
data = run_engine(data)

In [ ]:
data['temp_df']['open_order'] = data['open_order_temp_list']
data['temp_df']['pl'] = data['pl_temp_list'] 
data['temp_df'].to_csv('data/temp.csv')

In [ ]:
min(data['temp_df']['pl'])

In [ ]:
max(data['temp_df']['pl'])

In [ ]:
max(data['temp_df']['open_order'])

In [ ]:
data['dt_val']

In [ ]:
data['orders_list']

In [ ]:
if data["plot"]:
    data = adjust_plot_list_lengths(data)
    plot_graph(data)
    
print('-----------------------------------------------------')
print_report(data)
print('-----------------------------------------------------')
print(data['report_df'].groupby(['month_val'])['pls'].sum())
print('-----------------------------------------------------')
print(data['report_df']['close_type'].value_counts())
print('-----------------------------------------------------')
winsound.PlaySound('C:\\Windows\\Media\\tada.wav', winsound.SND_ASYNC)

In [ ]:
data['report_df'].groupby(['date_val'])['pls'].sum()

In [ ]:
winsound.PlaySound('C:\\Windows\\Media\\tada.wav', winsound.SND_ASYNC)
send_telegram_message(f'Run Complete : {data["df_name"]}')

In [ ]:
data['report_df'].groupby(['close_type'])['pls'].count()

In [ ]:
data['report_df'].groupby(['close_type'])['pls'].mean()

In [ ]:
data['report_df'].groupby(['close_type'])['pls'].sum()

In [ ]:
data['report_df'].groupby(['close_type'])['pls'].count()

In [ ]:
x = np.round(data['report_df'].groupby(['month_val', 'date_val'])['pls'].sum().values.mean(),4)
print(f'Average pips per day : {x}')

In [ ]:
x = data['report_df'].groupby(['month_val', 'date_val'])['pls'].count().values.mean()
print(f'Average orders per day : {x}')

In [ ]:
data['report_df'].groupby(['date'])['date'].count().value_counts().sort_values(ascending=False)

In [ ]:
data['report_df']['duration'].sort_values(ascending=False)