# ML Trader

In [1]:
from utils.packages import *
from utils.variables import *
from utils.i_o import *
from utils.dir_slope import *
from utils.engine import *
from utils.loops import *
from utils.order import *
from utils.ml import *
import winsound

# Action Points

### 1. No need to make 10 transactions a day. Just one is enough
### 2. Close diff (Movement of close value over a day) looks promising to find trend or ranging market

data                = get_date_list(data)
data                = read_data(data)

In [2]:
%%time
data = run_engine(data)

100%|██████████████████████████████████| 74387/74387 [00:20<00:00, 3636.26it/s]

pl    0.08978
dtype: float64
--------------------------------------
            DateTime_frmt  order_side  close_type       pl
66348 2020-11-23 09:30:00         NaN  sema_close -0.00229
67302 2020-11-26 17:00:00         NaN  sema_close  0.00304
67475 2020-11-27 07:25:00         NaN  sema_close -0.00178
67951 2020-11-30 23:05:00         NaN  sema_close  0.00081
69106 2020-12-06 23:20:00         NaN  sema_close  0.01341
69814 2020-12-09 10:20:00         NaN  sema_close -0.00243
70472 2020-12-11 17:10:00         NaN  sema_close  0.00002
70652 2020-12-14 08:10:00         NaN  sema_close -0.00365
71905 2020-12-18 16:35:00         NaN  sema_close  0.00761
72281 2020-12-21 23:55:00         NaN  sema_close -0.00076
72482 2020-12-22 16:40:00         NaN  sema_close -0.00672
72758 2020-12-23 15:40:00         NaN  sema_close -0.00354
73087 2020-12-24 19:05:00         NaN  sema_close -0.00232
73267 2020-12-28 00:40:00         NaN  sema_close -0.00048
74305 2020-12-31 15:10:00         NaN  sema_close  0.00560

100%|███████████████████████████████████████| 197/197 [00:00<00:00, 886.89it/s]

Wall time: 2min 32s

In [3]:
x = data['df_ohlc'].groupby(['month_val'])['pl'].sum()
print(x)
print('---------------------')
print(f'max : {x.idxmax()} : {max(x)}')
print(f'min : {x.idxmin()} : {min(x)}')
print('---------------------')
monthly_avg = np.round(data['df_ohlc']['pl'].sum()/len(set(data['df_ohlc']['month_val'])),4)
print(f'monthly_avg : {monthly_avg}')

month_val
1     0.00447
2     0.02299
3     0.02899
4    -0.00439
5     0.02829
6     0.02309
7     0.01485
8    -0.01419
9    -0.00512
10   -0.01673
11    0.00079
12    0.00674
Name: pl, dtype: float64
---------------------
max : 3 : 0.028989999999999995
min : 10 : -0.01673
---------------------
monthly_avg : 0.0075

In [4]:
data['lema_gap_pl_analysis_month'] = 8

data = lema_gap_pl_analysis(data)
data['lema_gap_pl_report']

   index  positive  negative  count_diff  positive_sum  negative_sum  sum_diff
3  0.000       0.0       1.0        -1.0       0.00000      -0.00343  -0.00343
2  0.001       0.0       1.0        -1.0       0.00000      -0.00441  -0.00441
0  0.002       0.0       2.0        -2.0       0.00000      -0.00713  -0.00713
1  0.004       0.0       2.0        -2.0       0.00000      -0.01402  -0.01402
4  0.005       1.0       0.0         1.0       0.00045       0.00000   0.00045
5  0.006       1.0       0.0         1.0       0.00813       0.00000   0.00813

In [5]:
sys.exit()

SystemExit:

In [ ]:
print(data['df_small'].groupby(['weekday', 'pl_type'])['pl_type'].count().unstack())
print('----------------------------------------------')
print(data['df_small'].groupby(['weekday', 'pl_type'])['pl'].sum().unstack())

In [ ]:
data['lema_gap_pl_analysis_month'] = 3

data = lema_gap_pl_analysis(data)
data['lema_gap_pl_report']

In [ ]:
y = data['df_ohlc']['pl'].sum()
x = data['df_ohlc'].groupby(['month_val'])['pl'].sum()
send_telegram_message(f'{data["input_year"]}')
send_telegram_message(f'{y}')
send_telegram_message(f'{x}')
send_telegram_message(f'-------------------')

In [ ]:
y = data['df_ohlc'][data['df_ohlc']['month_val'] == 6]
x = y.groupby(['date_val'])['pl'].sum()
print(x)
print('---------------------')
print(f'max : {x.idxmax()} : {max(x)}')
print(f'min : {x.idxmin()} : {min(x)}')
print('---------------------')

In [ ]:
data['df_ohlc'].tail()

In [ ]:
data['df_ohlc']['lema_gap'].describe()

In [ ]:
x = 5
data['df_ohlc'].iloc[-5:,x:x+15]

In [ ]:
data['df_small']['lema_gap'].describe()

In [ ]:
abs(all['negative_sum']) / all['positive_sum']

In [ ]:
df_small['order_side']

In [ ]:
data['df_small'].to_csv('data/temp.csv')

In [8]:
data["plot"] = True
data['plot_type'] = 'file'
data['reduce_plot'] = True
month = 10

# Monthly Chart -------------------
data['plot_start']  = f"{data['input_year']}-{month}-1"
data['plot_stop']   = f"{data['input_year']}-{month+1}-1"
# Monthly Chart -------------------

# December Chart ----------------------------
# data['plot_stop']   = f"{data['input_year']+1}-1-1"
# December Chart ----------------------------

# Year Chart ----------------------------
# data['plot_start']  = f"{data['input_year']}-1-1"
# data['plot_stop']   = f"{data['input_year']+1}-1-1"
# Year Chart ----------------------------

# data['things_to_plot'] = ['tick', 'ema', 'BBands', 'dots']
# data['things_to_plot'] = ['ema', 'BBands', 'dots', 'indicators']
# data['things_to_plot'] = ['ema', 'BBands', 'dots', 'cross']
# data['things_to_plot'] = ['ema', 'BBands', 'dots', 'positions', 'tip']
# data['things_to_plot'] = ['ema', 'BBands', 'dots', 'positions', 'lema_angle']
# data['things_to_plot'] = ['ema', 'sema_angle', 'slema_angle', 'lema_angle', 'dir']
# data['things_to_plot'] = ['ema', 'positions', 'lema_angle','slema_angle','sema_angle', 'rsi']
# data['things_to_plot'] = ['ema','positions', 'lema_angle','lema_diff', 'lema_max_min']
# data['things_to_plot'] = ['candles','sema', 'slema','positions','lema', 'lema_angle', 'lema_max_min', 'close_diff']
# data['things_to_plot'] = ['lema', 'tip', 'candles', 'lema_angle', 'lema_change']
data['things_to_plot'] = ['candles','sema', 'slema','lema', 'lema_match', 'positions']

plot_graph(data)

generate_result_report(data)

In [ ]:
if np.isnan(data['lema_match']):
    print('yes')
else:
    print('no')

In [ ]:
data['df_ohlc']['lema_match'] = np.nan

set2 = set(data['df_ohlc']['lema_change'][data['df_ohlc']['lema_change'].notnull()].index)

for i in tqdm(np.arange(data['look_back_window_size'], len(data['df_ohlc']))):
    set1 = set(np.arange(i-data['look_back_window_size'],i))
    lema_tips = list(set1 & set2)

    if len(lema_tips) > 0:
        last_lema_tip = lema_tips[-1]
        idx = np.arange(i-data['look_back_window_size'], last_lema_tip+1)
        lema_list = data['df_ohlc']['lema'].loc[idx].round(4)

        if data['df_ohlc']['lema'][i].round(4) in set(lema_list):        
            data['df_ohlc']['lema_match'][i] = data['df_ohlc']['lema'][i]