# ML Trader

In [1]:
from utils.packages import *
from utils.variables import *
from utils.i_o import *
from utils.dir_slope import *
from utils.engine import *
from utils.loops import *
from utils.order import *
from utils.ml import *
import winsound

# Action Points

## 1. No need to make 10 transactions a day. Just one is enough
## 2. See the lema gap size on the losing months
## 3. Can I use actual tick value (close) instead of lema for moves?

In [2]:
%%time
data = run_engine(data)

100%|██████████████████████████████████| 74585/74585 [00:24<00:00, 3078.73it/s]

pl    0.07832
dtype: float64
--------------------------------------
            DateTime_frmt  order_side  close_type       pl
71201 2020-12-15 13:25:00         NaN  sema_close -0.00261
71332 2020-12-16 00:20:00         NaN  sema_close -0.00051
71949 2020-12-18 03:45:00         NaN  sema_close  0.00903
72001 2020-12-18 08:05:00         NaN  sema_close -0.00073
72081 2020-12-18 14:45:00         NaN  sema_close -0.00083
72427 2020-12-21 19:35:00         NaN  sema_close -0.00118
72640 2020-12-22 13:20:00         NaN  sema_close -0.00053
72860 2020-12-23 07:40:00         NaN  sema_close -0.00151
72944 2020-12-23 14:40:00         NaN  sema_close -0.00467
73055 2020-12-23 23:55:00         NaN  sema_close -0.00119
73231 2020-12-24 14:35:00         NaN  sema_close -0.00131
73319 2020-12-24 21:55:00         NaN  sema_close -0.00045
73371 2020-12-25 02:45:00         NaN  sema_close -0.00079
73466 2020-12-28 00:45:00         NaN  sema_close -0.00164
74448 2020-12-31 10:35:00         NaN  sema_close  0.00740

100%|██████████████████████████████████████| 552/552 [00:00<00:00, 1142.25it/s]

Wall time: 6min 58s

In [3]:
x = data['df_ohlc'].groupby(['month_val'])['pl'].sum()
print(x)
print('---------------------')
print(f'max : {x.idxmax()} : {max(x)}')
print(f'min : {x.idxmin()} : {min(x)}')
print('---------------------')

month_val
1     0.00315
2     0.01590
3     0.03050
4    -0.01466
5     0.03216
6     0.00297
7    -0.00486
8    -0.01498
9     0.01857
10    0.00497
11    0.00871
12   -0.00411
Name: pl, dtype: float64
---------------------
max : 5 : 0.03216
min : 8 : -0.01498
---------------------

In [4]:
data = lema_gap_pl_analysis(data)
data['lema_gap_pl_report']

,index,positive,negative,count_diff,positive_sum,negative_sum,sum_diff
2,0.000,16.0,41.0,-25.0,0.07975,-0.06338,0.01637
1,0.001,16.0,41.0,-25.0,0.07301,-0.06806,0.00495
0,0.002,22.0,50.0,-28.0,0.08540,-0.08652,-0.00112
3,0.003,8.0,21.0,-13.0,0.04918,-0.04837,0.00081
4,0.004,7.0,12.0,-5.0,0.03157,-0.02968,0.00189
5,0.005,8.0,6.0,2.0,0.01386,-0.01043,0.00343
6,0.006,2.0,6.0,-4.0,0.01533,-0.00893,0.00640
7,0.007,4.0,4.0,0.0,0.04998,-0.00721,0.04277
12,0.008,0.0,1.0,-1.0,0.00000,-0.00257,-0.00257
15,0.009,1.0,0.0,1.0,0.01116,0.00000,0.01116
8,0.010,0.0,3.0,-3.0,0.00000,-0.00512,-0.00512
9,0.011,1.0,2.0,-1.0,0.00692,-0.00612,0.00080
13,0.012,0.0,1.0,-1.0,0.00000,-0.00392,-0.00392
14,0.014,1.0,0.0,1.0,0.00503,0.00000,0.00503
10,0.015,0.0,1.0,-1.0,0.00000,-0.00208,-0.00208
11,0.019,0.0,1.0,-1.0,0.00000,-0.00048,-0.00048

In [5]:
y = data['df_ohlc']['pl'].sum()
x = data['df_ohlc'].groupby(['month_val'])['pl'].sum()
send_telegram_message(f'{data["input_year"]}')
send_telegram_message(f'{y}')
send_telegram_message(f'{x}')
send_telegram_message(f'-------------------')

In [6]:
sys.exit()

SystemExit:

In [ ]:
y = data['df_ohlc'][data['df_ohlc']['month_val'] == 6]
x = y.groupby(['date_val'])['pl'].sum()
print(x)
print('---------------------')
print(f'max : {x.idxmax()} : {max(x)}')
print(f'min : {x.idxmin()} : {min(x)}')
print('---------------------')

In [ ]:
data['df_ohlc'].tail()

In [ ]:
data['df_ohlc']['lema_gap'].describe()

In [ ]:
x = 5
data['df_ohlc'].iloc[-5:,x:x+15]

In [ ]:
df_small

In [ ]:
order_side = 'positive'
y = pd.DataFrame(data['df_small'][data['df_small']['pl_type'] == order_side].lema_gap.round(3).value_counts())
y= y.reset_index()
y = y.rename(columns = {'lema_gap':order_side})

order_side = 'negative'
x= pd.DataFrame(data['df_small'][data['df_small']['pl_type'] == order_side].lema_gap.round(3).value_counts())
x = x.reset_index()
x = x.rename(columns = {'lema_gap':order_side})

all = x.merge(y, on = 'index', how = 'outer')
all = all.fillna(0)

all['diff'] = all['positive'] - all['negative']
all = all.sort_values(by = ['diff', 'index'])
all

In [ ]:
df_small['order_side']

In [ ]:
data['df_small'].to_csv('data/temp.csv')

In [9]:
data["plot"] = True
data['plot_type'] = 'file'
data['reduce_plot'] = True
month = 8
data['plot_start']  = f"{data['input_year']}-{month}-1"
data['plot_stop']   = f"{data['input_year']}-{month+1}-1"
# data['things_to_plot'] = ['tick', 'ema', 'BBands', 'dots']
# data['things_to_plot'] = ['ema', 'BBands', 'dots', 'indicators']
# data['things_to_plot'] = ['ema', 'BBands', 'dots', 'cross']
# data['things_to_plot'] = ['ema', 'BBands', 'dots', 'positions', 'tip']
# data['things_to_plot'] = ['ema', 'BBands', 'dots', 'positions', 'lema_angle']
# data['things_to_plot'] = ['ema', 'sema_angle', 'slema_angle', 'lema_angle', 'dir']
# data['things_to_plot'] = ['ema', 'positions', 'lema_angle','slema_angle','sema_angle', 'rsi']
data['things_to_plot'] = ['ema','positions', 'lema_angle','lema_diff', 'lema_max_min']

plot_graph(data)

In [ ]:
x = 252
data['df_ohlc']['lema_angle'][x-3:x+3]

generate_result_report(data)