# ML Trader

In [1]:
from utils.packages import *
from utils.variables import *
from utils.i_o import *
from utils.dir_slope import *
from utils.engine import *
from utils.loops import *
from utils.order import *
from utils.ml import *
import winsound

# Action Points

## 1. No need to make 10 transactions a day. Just one is enough
## 2. See the lema gap size on the losing months
## 3. Can I use actual tick value (close) instead of lema for moves?

In [2]:
%%time
data = run_engine(data)

100%|██████████████████████████████████| 40821/40821 [00:12<00:00, 3188.20it/s]

pl    0.04931
dtype: float64
--------------------------------------
            DateTime_frmt  order_side  close_type       pl
37439 2022-07-05 06:10:00         NaN  sema_close -0.00128
37984 2022-07-07 03:35:00         NaN  sema_close  0.01843
38041 2022-07-07 08:20:00         NaN  sema_close -0.00178
38060 2022-07-07 09:55:00         NaN  sema_close -0.00181
38239 2022-07-08 00:50:00         NaN  sema_close  0.00146
38414 2022-07-08 15:25:00         NaN  sema_close -0.00171
38513 2022-07-10 23:40:00         NaN  sema_close -0.00192
39092 2022-07-12 23:55:00         NaN  sema_close  0.01101
39129 2022-07-13 03:00:00         NaN  sema_close -0.00143
39203 2022-07-13 09:10:00         NaN  sema_close -0.00300
39264 2022-07-13 14:15:00         NaN  sema_close -0.00213
39320 2022-07-13 18:55:00         NaN  sema_close -0.00180
39668 2022-07-14 23:55:00         NaN  sema_close  0.00015
40249 2022-07-19 00:20:00         NaN  sema_close  0.00744
40663 2022-07-20 10:50:00         NaN  sema_close  0.00358

100%|██████████████████████████████████████| 297/297 [00:00<00:00, 1168.71it/s]

Wall time: 2min 59s

In [3]:
x = data['df_ohlc'].groupby(['month_val'])['pl'].sum()
print(x)
print('---------------------')
print(f'max : {x.idxmax()} : {max(x)}')
print(f'min : {x.idxmin()} : {min(x)}')
print('---------------------')
monthly_avg = np.round(data['df_ohlc']['pl'].sum()/len(set(data['df_ohlc']['month_val'])),4)
print(f'monthly_avg : {monthly_avg}')

month_val
1    0.02059
2   -0.01673
3    0.01855
4    0.02154
5    0.00113
6   -0.01731
7    0.02154
Name: pl, dtype: float64
---------------------
max : 7 : 0.021540000000000004
min : 6 : -0.017310000000000002
---------------------
monthly_avg : 0.007

In [4]:
data['lema_gap_pl_analysis_month'] = 8

data = lema_gap_pl_analysis(data)
data['lema_gap_pl_report']

Empty DataFrame
Columns: [index, positive, negative, count_diff, positive_sum, negative_sum, sum_diff]
Index: []

In [5]:
data['lema_gap_pl_analysis_month'] = 3

data = lema_gap_pl_analysis(data)
data['lema_gap_pl_report']

   index  positive  negative  count_diff  positive_sum  negative_sum  sum_diff
5  0.000       0.0         1        -1.0       0.00000      -0.00056  -0.00056
2  0.001       0.0         3        -3.0       0.00000      -0.00494  -0.00494
1  0.002       1.0         5        -4.0       0.00882      -0.00852   0.00030
0  0.003       2.0         6        -4.0       0.01383      -0.01149   0.00234
4  0.004       3.0         1         2.0       0.02830      -0.00205   0.02625
3  0.007       1.0         1         0.0       0.00104      -0.00484  -0.00380

In [6]:
y = data['df_ohlc']['pl'].sum()
x = data['df_ohlc'].groupby(['month_val'])['pl'].sum()
send_telegram_message(f'{data["input_year"]}')
send_telegram_message(f'{y}')
send_telegram_message(f'{x}')
send_telegram_message(f'-------------------')

In [7]:
sys.exit()

SystemExit:

In [ ]:
y = data['df_ohlc'][data['df_ohlc']['month_val'] == 6]
x = y.groupby(['date_val'])['pl'].sum()
print(x)
print('---------------------')
print(f'max : {x.idxmax()} : {max(x)}')
print(f'min : {x.idxmin()} : {min(x)}')
print('---------------------')

In [ ]:
data['df_ohlc'].tail()

In [ ]:
data['df_ohlc']['lema_gap'].describe()

In [ ]:
x = 5
data['df_ohlc'].iloc[-5:,x:x+15]

In [ ]:
data['df_small']['lema_gap'].describe()

In [ ]:
abs(all['negative_sum']) / all['positive_sum']

In [ ]:
df_small['order_side']

In [ ]:
data['df_small'].to_csv('data/temp.csv')

In [8]:
data["plot"] = True
data['plot_type'] = 'file'
data['reduce_plot'] = True
month = 2
data['plot_start']  = f"{data['input_year']}-{month}-1"
data['plot_stop']   = f"{data['input_year']}-{month+1}-1"
# data['plot_stop']   = f"{data['input_year']+1}-1-1"
# data['things_to_plot'] = ['tick', 'ema', 'BBands', 'dots']
# data['things_to_plot'] = ['ema', 'BBands', 'dots', 'indicators']
# data['things_to_plot'] = ['ema', 'BBands', 'dots', 'cross']
# data['things_to_plot'] = ['ema', 'BBands', 'dots', 'positions', 'tip']
# data['things_to_plot'] = ['ema', 'BBands', 'dots', 'positions', 'lema_angle']
# data['things_to_plot'] = ['ema', 'sema_angle', 'slema_angle', 'lema_angle', 'dir']
# data['things_to_plot'] = ['ema', 'positions', 'lema_angle','slema_angle','sema_angle', 'rsi']
data['things_to_plot'] = ['ema','positions', 'lema_angle','lema_diff', 'lema_max_min']

plot_graph(data)

In [ ]:
x = 252
data['df_ohlc']['lema_angle'][x-3:x+3]

generate_result_report(data)