# ML Trader

In [1]:
from utils.packages import *
from utils.variables import *
from utils.i_o import *
from utils.dir_slope import *
from utils.engine import *
from utils.loops import *
from utils.order import *
from utils.ml import *
import winsound

# Action Points

## 1. No need to make 10 transactions a day. Just one is enough
## 2. See the lema gap size on the losing months
## 3. Can I use actual tick value (close) instead of lema for moves?

In [2]:
%%time
data = run_engine(data)

100%|██████████████████████████████████| 74585/74585 [00:30<00:00, 2441.71it/s]

pl    0.07832
dtype: float64
--------------------------------------
            DateTime_frmt  order_side  close_type       pl
71201 2020-12-15 13:25:00         NaN  sema_close -0.00261
71332 2020-12-16 00:20:00         NaN  sema_close -0.00051
71949 2020-12-18 03:45:00         NaN  sema_close  0.00903
72001 2020-12-18 08:05:00         NaN  sema_close -0.00073
72081 2020-12-18 14:45:00         NaN  sema_close -0.00083
72427 2020-12-21 19:35:00         NaN  sema_close -0.00118
72640 2020-12-22 13:20:00         NaN  sema_close -0.00053
72860 2020-12-23 07:40:00         NaN  sema_close -0.00151
72944 2020-12-23 14:40:00         NaN  sema_close -0.00467
73055 2020-12-23 23:55:00         NaN  sema_close -0.00119
73231 2020-12-24 14:35:00         NaN  sema_close -0.00131
73319 2020-12-24 21:55:00         NaN  sema_close -0.00045
73371 2020-12-25 02:45:00         NaN  sema_close -0.00079
73466 2020-12-28 00:45:00         NaN  sema_close -0.00164
74448 2020-12-31 10:35:00         NaN  sema_close  0.00740

100%|███████████████████████████████████████| 552/552 [00:00<00:00, 969.31it/s]

Wall time: 7min 5s

In [3]:
x = data['df_ohlc'].groupby(['month_val'])['pl'].sum()
print(x)
print('---------------------')
print(f'max : {x.idxmax()} : {max(x)}')
print(f'min : {x.idxmin()} : {min(x)}')
print('---------------------')
monthly_avg = np.round(data['df_ohlc']['pl'].sum()/len(set(data['df_ohlc']['month_val'])),4)
print(f'monthly_avg : {monthly_avg}')

month_val
1     0.00315
2     0.01590
3     0.03050
4    -0.01466
5     0.03216
6     0.00297
7    -0.00486
8    -0.01498
9     0.01857
10    0.00497
11    0.00871
12   -0.00411
Name: pl, dtype: float64
---------------------
max : 5 : 0.03216
min : 8 : -0.01498
---------------------
monthly_avg : 0.0065

In [4]:
data['lema_gap_pl_analysis_month'] = 8

data = lema_gap_pl_analysis(data)
data['lema_gap_pl_report']

   index  positive  negative  count_diff  positive_sum  negative_sum  sum_diff
2  0.000       0.0       3.0        -3.0       0.00000      -0.00516  -0.00516
1  0.001       1.0       4.0        -3.0       0.00785      -0.01094  -0.00309
0  0.002       2.0       7.0        -5.0       0.00987      -0.01106  -0.00119
7  0.003       1.0       0.0         1.0       0.00386       0.00000   0.00386
3  0.004       2.0       2.0         0.0       0.00884      -0.00413   0.00471
6  0.005       1.0       0.0         1.0       0.00149       0.00000   0.00149
4  0.006       0.0       2.0        -2.0       0.00000      -0.00518  -0.00518
5  0.008       0.0       1.0        -1.0       0.00000      -0.00257  -0.00257

In [5]:
data['lema_gap_pl_analysis_month'] = 3

data = lema_gap_pl_analysis(data)
data['lema_gap_pl_report']

,index,positive,negative,count_diff,positive_sum,negative_sum,sum_diff
0,0.001,1.0,5.0,-4.0,0.00449,-0.02249,-0.01800
6,0.002,2.0,1.0,1.0,0.02198,-0.00113,0.02085
3,0.003,1.0,2.0,-1.0,0.00711,-0.00545,0.00166
10,0.004,1.0,0.0,1.0,0.00581,0.00000,0.00581
5,0.007,1.0,1.0,0.0,0.01499,-0.00020,0.01479
1,0.010,0.0,3.0,-3.0,0.00000,-0.00512,-0.00512
2,0.011,1.0,2.0,-1.0,0.00692,-0.00612,0.00080
8,0.012,0.0,1.0,-1.0,0.00000,-0.00392,-0.00392
9,0.014,1.0,0.0,1.0,0.00503,0.00000,0.00503
7,0.015,0.0,1.0,-1.0,0.00000,-0.00208,-0.00208
4,0.019,0.0,1.0,-1.0,0.00000,-0.00048,-0.00048

In [6]:
y = data['df_ohlc']['pl'].sum()
x = data['df_ohlc'].groupby(['month_val'])['pl'].sum()
send_telegram_message(f'{data["input_year"]}')
send_telegram_message(f'{y}')
send_telegram_message(f'{x}')
send_telegram_message(f'-------------------')

In [7]:
sys.exit()

SystemExit:

In [ ]:
y = data['df_ohlc'][data['df_ohlc']['month_val'] == 6]
x = y.groupby(['date_val'])['pl'].sum()
print(x)
print('---------------------')
print(f'max : {x.idxmax()} : {max(x)}')
print(f'min : {x.idxmin()} : {min(x)}')
print('---------------------')

In [ ]:
data['df_ohlc'].tail()

In [ ]:
data['df_ohlc']['lema_gap'].describe()

In [ ]:
x = 5
data['df_ohlc'].iloc[-5:,x:x+15]

In [ ]:
data['df_small']['lema_gap'].describe()

In [ ]:
abs(all['negative_sum']) / all['positive_sum']

In [ ]:
df_small['order_side']

In [ ]:
data['df_small'].to_csv('data/temp.csv')

In [8]:
data["plot"] = True
data['plot_type'] = 'file'
data['reduce_plot'] = True
month = 2

# Monthly Chart -------------------
# data['plot_start']  = f"{data['input_year']}-{month}-1"
# data['plot_stop']   = f"{data['input_year']}-{month+1}-1"
# Monthly Chart -------------------

# December Chart ----------------------------
# data['plot_stop']   = f"{data['input_year']+1}-1-1"
# December Chart ----------------------------

# Year Chart ----------------------------
data['plot_start']  = f"{data['input_year']}-1-1"
data['plot_stop']   = f"{data['input_year']+1}-1-1"
# Year Chart ----------------------------

# data['things_to_plot'] = ['tick', 'ema', 'BBands', 'dots']
# data['things_to_plot'] = ['ema', 'BBands', 'dots', 'indicators']
# data['things_to_plot'] = ['ema', 'BBands', 'dots', 'cross']
# data['things_to_plot'] = ['ema', 'BBands', 'dots', 'positions', 'tip']
# data['things_to_plot'] = ['ema', 'BBands', 'dots', 'positions', 'lema_angle']
# data['things_to_plot'] = ['ema', 'sema_angle', 'slema_angle', 'lema_angle', 'dir']
# data['things_to_plot'] = ['ema', 'positions', 'lema_angle','slema_angle','sema_angle', 'rsi']
# data['things_to_plot'] = ['ema','positions', 'lema_angle','lema_diff', 'lema_max_min']
data['things_to_plot'] = ['sema', 'lema', 'sema_lema_diff']

plot_graph(data)

generate_result_report(data)