# ML Trader

In [1]:
from utils.packages import *
from utils.variables import *
from utils.i_o import *
from utils.dir_slope import *
from utils.engine import *
from utils.loops import *
from utils.order import *
from utils.ml import *
import winsound

# Action Points

### 1. No need to make 10 transactions a day. Just one is enough
### 2. Close diff (Movement of close value over a day) looks promising to find trend or ranging market

data                = get_date_list(data)
data                = read_data(data)

In [2]:
data['ema_type'] = 'sema'

In [3]:
%%time
data = run_engine(data)

100%|██████████████████████████████████| 74266/74266 [00:22<00:00, 3317.11it/s]

pl   -0.13225
dtype: float64
--------------------------------------
            DateTime_frmt  order_side  close_type       pl
69948 2021-12-12 22:05:00         NaN  sema_close -0.00148
70096 2021-12-13 10:25:00         NaN  sema_close -0.00499
70427 2021-12-14 14:00:00         NaN  sema_close -0.00409
70847 2021-12-16 01:00:00         NaN  sema_close -0.00263
71332 2021-12-17 17:25:00         NaN  sema_close -0.00118
71615 2021-12-20 17:00:00         NaN  sema_close -0.00252
72073 2021-12-22 07:10:00         NaN  sema_close -0.00266
72156 2021-12-22 14:05:00         NaN  sema_close -0.00473
72481 2021-12-23 17:10:00         NaN  sema_close  0.00066
72794 2021-12-24 19:15:00         NaN  sema_close -0.00216
73103 2021-12-27 21:05:00         NaN  sema_close -0.00124
73342 2021-12-28 17:00:00         NaN  sema_close -0.00119
73651 2021-12-29 18:45:00         NaN  sema_close -0.00384
73863 2021-12-30 12:25:00         NaN  sema_close -0.00255
74185 2021-12-31 15:15:00         NaN  sema_close -0.00296

100%|███████████████████████████████████████| 228/228 [00:00<00:00, 564.47it/s]

Wall time: 1min 40s

In [4]:
x = data['df_ohlc'].groupby(['month_val'])['pl'].sum()
print(x)
print('---------------------')
print(f'max : {x.idxmax()} : {max(x)}')
print(f'min : {x.idxmin()} : {min(x)}')
print('---------------------')
monthly_avg = np.round(data['df_ohlc']['pl'].sum()/len(set(data['df_ohlc']['month_val'])),4)
print(f'monthly_avg : {monthly_avg}')

month_val
1    -0.00584
2     0.01381
3     0.00554
4    -0.03866
5     0.00448
6     0.00469
7    -0.01722
8     0.00287
9    -0.03478
10   -0.02145
11   -0.00439
12   -0.04130
Name: pl, dtype: float64
---------------------
max : 2 : 0.013810000000000003
min : 12 : -0.04130000000000001
---------------------
monthly_avg : -0.011

In [5]:
data['lema_gap_pl_analysis_month'] = 8

data = lema_gap_pl_analysis(data)
data['lema_gap_pl_report']

   index  positive  negative  count_diff  positive_sum  negative_sum  sum_diff
2  0.000       1.0       0.0         1.0       0.00347       0.00000   0.00347
1  0.001       2.0       0.0         2.0       0.01067       0.00000   0.01067
0  0.002       0.0       1.0        -1.0       0.00000      -0.00083  -0.00083

In [6]:
sys.exit()

SystemExit:

In [ ]:
print(data['df_small'].groupby(['weekday', 'pl_type'])['pl_type'].count().unstack())
print('----------------------------------------------')
print(data['df_small'].groupby(['weekday', 'pl_type'])['pl'].sum().unstack())

In [ ]:
data['lema_gap_pl_analysis_month'] = 3

data = lema_gap_pl_analysis(data)
data['lema_gap_pl_report']

In [ ]:
y = data['df_ohlc']['pl'].sum()
x = data['df_ohlc'].groupby(['month_val'])['pl'].sum()
send_telegram_message(f'{data["input_year"]}')
send_telegram_message(f'{y}')
send_telegram_message(f'{x}')
send_telegram_message(f'-------------------')

In [ ]:
y = data['df_ohlc'][data['df_ohlc']['month_val'] == 6]
x = y.groupby(['date_val'])['pl'].sum()
print(x)
print('---------------------')
print(f'max : {x.idxmax()} : {max(x)}')
print(f'min : {x.idxmin()} : {min(x)}')
print('---------------------')

In [ ]:
data['df_ohlc'].tail()

In [ ]:
data['df_ohlc']['lema_gap'].describe()

In [ ]:
x = 5
data['df_ohlc'].iloc[-5:,x:x+15]

In [ ]:
data['df_small']['lema_gap'].describe()

In [ ]:
abs(all['negative_sum']) / all['positive_sum']

In [ ]:
df_small['order_side']

In [ ]:
data['df_small'].to_csv('data/temp.csv')

In [7]:
data["plot"] = True
data['plot_type'] = 'file'
data['reduce_plot'] = True
month = 4

# Monthly Chart -------------------
data['plot_start']  = f"{data['input_year']}-{month}-1"
data['plot_stop']   = f"{data['input_year']}-{month+1}-1"
# Monthly Chart -------------------

# December Chart ----------------------------
# data['plot_stop']   = f"{data['input_year']+1}-1-1"
# December Chart ----------------------------

# Year Chart ----------------------------
# data['plot_start']  = f"{data['input_year']}-1-1"
# data['plot_stop']   = f"{data['input_year']+1}-1-1"
# Year Chart ----------------------------

# data['things_to_plot'] = ['tick', 'ema', 'BBands', 'dots']
# data['things_to_plot'] = ['ema', 'BBands', 'dots', 'indicators']
# data['things_to_plot'] = ['ema', 'BBands', 'dots', 'cross']
# data['things_to_plot'] = ['ema', 'BBands', 'dots', 'positions', 'tip']
# data['things_to_plot'] = ['ema', 'BBands', 'dots', 'positions', 'lema_angle']
# data['things_to_plot'] = ['ema', 'sema_angle', 'slema_angle', 'lema_angle', 'dir']
# data['things_to_plot'] = ['ema', 'positions', 'lema_angle','slema_angle','sema_angle', 'rsi']
# data['things_to_plot'] = ['ema','positions', 'lema_angle','lema_diff', 'lema_max_min']
# data['things_to_plot'] = ['candles','sema', 'slema','positions','lema', 'lema_angle', 'lema_max_min', 'close_diff']
# data['things_to_plot'] = ['lema', 'tip', 'candles', 'lema_angle', 'lema_change']
# data['things_to_plot'] = ['candles','sema', 'slema','lema', 'lema_match']
data['things_to_plot'] = ['candles','sema', 'slema','lema', 'lema_match', 'positions', 'sema_angle', 'slema_angle', 'lema_angle']

plot_graph(data)

generate_result_report(data)

In [ ]:
if np.isnan(data['lema_match']):
    print('yes')
else:
    print('no')

In [ ]:
data['df_ohlc']['lema_match'] = np.nan

set2 = set(data['df_ohlc']['lema_change'][data['df_ohlc']['lema_change'].notnull()].index)

for i in tqdm(np.arange(data['look_back_window_size'], len(data['df_ohlc']))):
    set1 = set(np.arange(i-data['look_back_window_size'],i))
    lema_tips = list(set1 & set2)

    if len(lema_tips) > 0:
        last_lema_tip = lema_tips[-1]
        idx = np.arange(i-data['look_back_window_size'], last_lema_tip+1)
        lema_list = data['df_ohlc']['lema'].loc[idx].round(4)

        if data['df_ohlc']['lema'][i].round(4) in set(lema_list):        
            data['df_ohlc']['lema_match'][i] = data['df_ohlc']['lema'][i]