In [17]:
import numpy as np
import pandas as pd

In [146]:
raw_df = pd.read_csv('data\M1_2019.csv')
df = raw_df[['TS', 'Close']]
df.head()

df = df[:10]
df

                 TS    Close
0  2019-01-01 17:02  1.14598
1  2019-01-01 17:03  1.14607
2  2019-01-01 17:04  1.14606
3  2019-01-01 17:05  1.14621
4  2019-01-01 17:06  1.14665
5  2019-01-01 17:07  1.14607
6  2019-01-01 17:08  1.14607
7  2019-01-01 17:09  1.14606
8  2019-01-01 17:10  1.14607
9  2019-01-01 17:11  1.14607

In [143]:
roll_len = 3
col_list = []

for i in range(roll_len):
    #col_list.append(f'col_{i}')
    col_list.append(i)
print(col_list)

df1 = pd.DataFrame()
df1 = pd.DataFrame(columns = col_list)
df1

[0, 1, 2]

Empty DataFrame
Columns: [0, 1, 2]
Index: []

In [152]:
for i, val in df.iterrows():
    act_row = i+roll_len-1
    l = list(df['Close'][i:act_row+1])
    if len(l) == roll_len:
        print(i, act_row, l, df['TS'][act_row])
        for j, val in enumerate(l):    
            df1.at[i, j] = val

0 2 [1.14598, 1.14607, 1.14606] 2019-01-01 17:04
1 3 [1.14607, 1.14606, 1.14621] 2019-01-01 17:05
2 4 [1.14606, 1.14621, 1.14665] 2019-01-01 17:06
3 5 [1.14621, 1.14665, 1.14607] 2019-01-01 17:07
4 6 [1.14665, 1.14607, 1.14607] 2019-01-01 17:08
5 7 [1.14607, 1.14607, 1.14606] 2019-01-01 17:09
6 8 [1.14607, 1.14606, 1.14607] 2019-01-01 17:10
7 9 [1.14606, 1.14607, 1.14607] 2019-01-01 17:11

In [145]:
df1

         0        1        2
0  1.14598  1.14607  1.14606
1  1.14607  1.14606  1.14621
2  1.14606  1.14621  1.14665
3  1.14621  1.14665  1.14607
4  1.14665  1.14607  1.14607
5  1.14607  1.14607  1.14606
6  1.14607  1.14606  1.14607
7  1.14606  1.14607  1.14607