In [1]:
import numpy as np
import pandas as pd
from tqdm import tqdm
import winsound
import datetime as dt

import warnings
warnings.filterwarnings('ignore')

from sklearn.model_selection import train_test_split
import tensorflow as tf
import keras

In [20]:
df = pd.read_csv('data/rolled_df.csv')
print(len(df))
df.head()

74446

,month,day,hour,min,0,1,2,3,4,5,...,51,52,53,54,55,56,57,58,59,direction
0,1,1,22,2,1.14598,1.14607,1.14608,1.14607,1.14606,1.14606,...,1.14526,1.14497,1.14481,1.14492,1.14447,1.14452,1.14433,1.14443,1.14448,same
1,1,1,22,7,1.14607,1.14608,1.14607,1.14606,1.14606,1.14607,...,1.14497,1.14481,1.14492,1.14447,1.14452,1.14433,1.14443,1.14448,1.14458,same
2,1,1,22,12,1.14608,1.14607,1.14606,1.14606,1.14607,1.14607,...,1.14481,1.14492,1.14447,1.14452,1.14433,1.14443,1.14448,1.14458,1.14452,same
3,1,1,22,17,1.14607,1.14606,1.14606,1.14607,1.14607,1.14625,...,1.14492,1.14447,1.14452,1.14433,1.14443,1.14448,1.14458,1.14452,1.14452,increase
4,1,1,22,22,1.14606,1.14606,1.14607,1.14607,1.14625,1.14628,...,1.14447,1.14452,1.14433,1.14443,1.14448,1.14458,1.14452,1.14452,1.14464,same

In [3]:
mapping = {'decrease': 0, 'same': 1, 'increase': 2}
df = df.replace({'direction': mapping})

In [ ]:
target_col = 'direction'

In [4]:
train_x, valid_x, train_y, valid_y = train_test_split(df.loc[:, df.columns != target_col], df[target_col],train_size = 0.8,random_state = 1)

In [5]:
Layer_nodes = 512

In [6]:
model = tf.keras.Sequential([
  tf.keras.layers.Dense(Layer_nodes, activation='relu', input_shape=[len(train_x.keys())]),
  tf.keras.layers.Dense(Layer_nodes, activation='relu'),              
  tf.keras.layers.Dense(Layer_nodes, activation='relu'),      
  tf.keras.layers.Dense(Layer_nodes, activation='relu'),      
  tf.keras.layers.Dense(Layer_nodes, activation='relu'),      
  tf.keras.layers.Dense(1, activation='sigmoid')
])

In [7]:
model.compile(
    loss='binary_crossentropy',
    optimizer='adam',    
    metrics=['accuracy'])

In [8]:
epoch_val = 3

In [9]:
model.fit(train_x, train_y, epochs=epoch_val)

Epoch 1/3
1862/1862 [==============================] - 7s 4ms/step - loss: -94.8992 - accuracy: 0.5458
Epoch 2/3
1862/1862 [==============================] - 7s 4ms/step - loss: 7978.9717 - accuracy: 0.5461
Epoch 3/3
1862/1862 [==============================] - 7s 4ms/step - loss: 1292.6920 - accuracy: 0.5461

In [10]:
test_loss, test_accuracy = model.evaluate(valid_x, valid_y)
print(f'Test Loss {test_loss}')
print(f'Test Accuracy {test_accuracy}')

466/466 [==============================] - 0s 852us/step - loss: -17166.3555 - accuracy: 0.5415
Test Loss -17166.35546875
Test Accuracy 0.5415043830871582

In [17]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

In [12]:
clf = RandomForestClassifier()
clf.fit(train_x, train_y)

RandomForestClassifier()

In [55]:
target_names = ['decrease', 'same', 'increase']
print(classification_report(valid_y, clf.predict(valid_x),target_names=target_names))

              precision    recall  f1-score   support

    decrease       0.31      0.20      0.24      3345
        same       0.61      0.81      0.70      8063
    increase       0.31      0.18      0.23      3482

    accuracy                           0.53     14890
   macro avg       0.41      0.40      0.39     14890
weighted avg       0.47      0.53      0.49     14890

from keras import backend as K 
K.tensorflow_backend._get_available_gpus()

config = tf.ConfigProto( device_count = {'GPU': 1 , 'CPU': 56} ) 
sess = tf.Session(config=config) 
keras.backend.set_session(sess)

config = tf.ConfigProto( device_count = {'GPU': 1 , 'CPU': 56} ) 
sess = tf.Session(config=config) 
keras.backend.set_session(sess)

from tensorflow.python.client import device_lib
print(device_lib.list_local_devices())