In [1]:
import numpy as np
import pandas as pd
from tqdm import tqdm
import winsound
import datetime as dt

import warnings
warnings.filterwarnings('ignore')

from sklearn.model_selection import train_test_split
import tensorflow as tf
import keras

In [12]:
df = pd.read_csv('data/rolled_df.csv')
df.head()

,month,day,hour,min,0,1,2,3,4,5,6,7,8,9,10,11,12,13,direction
0,1,1,17,16,1.14598,1.14607,1.14606,1.14621,1.14665,1.14607,1.14607,1.14606,1.14607,1.14607,1.14608,1.14607,1.14608,1.14607,same
1,1,1,17,17,1.14607,1.14606,1.14621,1.14665,1.14607,1.14607,1.14606,1.14607,1.14607,1.14608,1.14607,1.14608,1.14607,1.14607,same
2,1,1,17,18,1.14606,1.14621,1.14665,1.14607,1.14607,1.14606,1.14607,1.14607,1.14608,1.14607,1.14608,1.14607,1.14607,1.14607,same
3,1,1,17,19,1.14621,1.14665,1.14607,1.14607,1.14606,1.14607,1.14607,1.14608,1.14607,1.14608,1.14607,1.14607,1.14607,1.14607,same
4,1,1,17,20,1.14665,1.14607,1.14607,1.14606,1.14607,1.14607,1.14608,1.14607,1.14608,1.14607,1.14607,1.14607,1.14607,1.14606,same

In [17]:
mapping = {'decrease': 0, 'same': 1, 'increase': 2}
df = df.replace({'direction': mapping})

In [18]:
target_col = 'direction'
train_x, valid_x, train_y, valid_y = train_test_split(df.loc[:, df.columns != target_col], df[target_col],train_size = 0.8,random_state = 1)

In [19]:
Layer_nodes = 512

In [20]:
model = tf.keras.Sequential([
  tf.keras.layers.Dense(Layer_nodes, activation='relu', input_shape=[len(train_x.keys())]),
  tf.keras.layers.Dense(Layer_nodes, activation='relu'),              
  tf.keras.layers.Dense(Layer_nodes, activation='relu'),      
  tf.keras.layers.Dense(Layer_nodes, activation='relu'),      
  tf.keras.layers.Dense(Layer_nodes, activation='relu'),      
  tf.keras.layers.Dense(1, activation='sigmoid')
])

In [21]:
model.compile(
    loss='binary_crossentropy',
    optimizer='adam',    
    metrics=['accuracy'])

In [22]:
epoch_val = 5

In [23]:
model.fit(train_x, train_y, epochs=epoch_val)

Epoch 1/5
9313/9313 [==============================] - 34s 4ms/step - loss: 16.3210 - accuracy: 0.9528
Epoch 2/5
9313/9313 [==============================] - 34s 4ms/step - loss: 0.2027 - accuracy: 0.9527
Epoch 3/5
9313/9313 [==============================] - 34s 4ms/step - loss: 0.1271 - accuracy: 0.9531
Epoch 4/5
9313/9313 [==============================] - 34s 4ms/step - loss: 0.8270 - accuracy: 0.9531
Epoch 5/5
9313/9313 [==============================] - 35s 4ms/step - loss: 0.1245 - accuracy: 0.9531

In [24]:
test_loss, test_accuracy = model.evaluate(valid_x, valid_y)
print(f'Test Loss {test_loss}')
print(f'Test Accuracy {test_accuracy}')

2329/2329 [==============================] - 2s 802us/step - loss: 0.0250 - accuracy: 0.9546
Test Loss 0.025023575872182846
Test Accuracy 0.9546064734458923

In [ ]:
from keras import backend as K 
K.tensorflow_backend._get_available_gpus()

In [ ]:
config = tf.ConfigProto( device_count = {'GPU': 1 , 'CPU': 56} ) 
sess = tf.Session(config=config) 
keras.backend.set_session(sess)

In [ ]:
config = tf.ConfigProto( device_count = {'GPU': 1 , 'CPU': 56} ) 
sess = tf.Session(config=config) 
keras.backend.set_session(sess)

In [ ]:
from tensorflow.python.client import device_lib
print(device_lib.list_local_devices())