# ML Trader

In [1]:
from utils.packages import *
from utils.variables import *
from utils.i_o import *
from utils.dir_slope import *
from utils.engine import *
from utils.loops import *
from utils.order import *
import winsound

In [2]:
data = run_engine(data)

100%|██████████████████████████████| 3196612/3196612 [07:07<00:00, 7476.89it/s]

pl    0.07833
dtype: float64
--------------------------------------
              DateTime_frmt          close_type       pl
3185873 2020-02-28 19:54:05  simple_take_profit  0.00026
3186500 2020-02-28 19:57:51  simple_take_profit  0.00029
3186604 2020-02-28 19:58:31  simple_take_profit  0.00027
3187421 2020-02-28 20:04:07  simple_take_profit  0.00024
3189057 2020-02-28 20:20:28         simple_stop -0.00054
3189501 2020-02-28 20:25:10         simple_stop -0.00044
3190366 2020-02-28 20:31:52  simple_take_profit  0.00037
3190678 2020-02-28 20:33:51  simple_take_profit  0.00047
3191002 2020-02-28 20:38:06  simple_take_profit  0.00019
3191966 2020-02-28 20:49:50  simple_take_profit  0.00041
3193501 2020-02-28 21:04:04         simple_stop -0.00066
3194011 2020-02-28 21:08:37         simple_stop -0.00061
3194463 2020-02-28 21:15:06  simple_take_profit  0.00031
3196274 2020-02-28 21:53:33  simple_take_profit  0.00028
3196368 2020-02-28 21:55:09  simple_take_profit  0.00028

In [3]:
generate_result_report(data)

--------------------------------------
Run Complete : data/ema_df-(2020-2020)-(1-2)-(1-29).csv
--------------------------------------


--------------------------------------
Net PL
0.0783
--------------------------------------


--------------------------------------
Monthly PL
                pl
month_val
1          0.04102
2          0.03731
--------------------------------------


--------------------------------------
Count of transactions by Close Type
..................
                      pl
close_type
simple_stop          937
simple_take_profit  2271
--------------------------------------


--------------------------------------
Mean value of transactions by Close Type
..................
                          pl
close_type
simple_stop        -0.000443
simple_take_profit  0.000217
--------------------------------------


--------------------------------------
Sum by Close Type
..................
                         pl
close_type
simple_stop        -0.41521
simple_take_profit  0.49354
--------------------------------------


--------------------------------------
Average pips per day : 0.0016
--------------------------------------


--------------------------------------
Average orders per day : 64.16
--------------------------------------

In [4]:
plot_graph(data)

In [8]:
data['df'][data['df']['DateTime_frmt'] == '2020-02-28 21:53:18']

,DateTime_frmt,month_val,date_val,Bid,Ask,tick,lema,h_l_gap,h_lema,l_lema,long_open,long_close,short_open,short_close,close_type,pl
3196249,2020-02-28 21:53:18,2,28,1.10308,1.10314,1.103110,1.103213,0.000545,1.103586,1.102795,NaN,NaN,NaN,NaN,NaN,NaN
3196250,2020-02-28 21:53:18,2,28,1.10306,1.10308,1.103070,1.103213,0.000545,1.103585,1.102795,NaN,NaN,NaN,NaN,NaN,NaN
3196251,2020-02-28 21:53:18,2,28,1.10304,1.10308,1.103060,1.103212,0.000545,1.103584,1.102795,NaN,NaN,NaN,NaN,NaN,NaN
3196252,2020-02-28 21:53:18,2,28,1.10298,1.10308,1.103030,1.103212,0.000545,1.103582,1.102794,NaN,NaN,NaN,NaN,NaN,NaN
3196253,2020-02-28 21:53:18,2,28,1.10297,1.10308,1.103025,1.103211,0.000545,1.103581,1.102794,NaN,NaN,NaN,NaN,NaN,NaN
3196254,2020-02-28 21:53:18,2,28,1.10302,1.10308,1.103050,1.103211,0.000545,1.103580,1.102794,NaN,NaN,NaN,NaN,NaN,NaN
3196255,2020-02-28 21:53:18,2,28,1.10297,1.10308,1.103025,1.103210,0.000545,1.103578,1.102793,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
data['df']

,DateTime_frmt,month_val,date_val,Bid,Ask,tick,lema,h_l_gap,h_lema,l_lema,long_open,long_close,short_open,short_close,close_type,pl
0,2020-01-02 00:19:47,1,2,1.12162,1.12165,1.121635,1.121802,0.00033,1.121915,1.121585,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-02 00:19:51,1,2,1.12161,1.12165,1.121630,1.121801,0.00017,1.121915,1.121585,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-02 00:19:56,1,2,1.12163,1.12165,1.121640,1.121801,0.00017,1.121914,1.121585,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-02 00:19:56,1,2,1.12162,1.12165,1.121635,1.121800,0.00017,1.121914,1.121585,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01-02 00:19:56,1,2,1.12161,1.12165,1.121630,1.121800,0.00017,1.121914,1.121585,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3196607,2020-02-28 21:59:48,2,28,1.10259,1.10290,1.102745,1.102968,0.00208,1.103555,1.102681,NaN,NaN,NaN,NaN,NaN,NaN
3196608,2020-02-28 21:59:48,2,28,1.10259,1.10288,1.102735,1.102967,0.00208,1.103557,1.102681,NaN,NaN,NaN,NaN,NaN,NaN
3196609,2020-02-28 21:59:48,2,28,1.10259,1.10284,1.102715,1.102967,0.00208,1.103560,1.102681,NaN,NaN,NaN,NaN,NaN,NaN
3196610,2020-02-28 21:59:56,2,28,1.10259,1.10289,1.102740,1.102966,0.00208,1.103563,1.102680,NaN,NaN,NaN,NaN,NaN,NaN
3196611,2020-02-28 21:59:56,2,28,1.10251,1.10289,1.102700,1.102965,0.00208,1.103566,1.102680,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
data['report_df'].groupby(['month_val', 'date_val']).pl.sum()

month_val  date_val
1          2           0.00026
           3           0.00520
           5           0.00095
           6          -0.00024
           7           0.00405
           8           0.00529
           9           0.00453
           10          0.00379
           12          0.00100
           13          0.00251
           14          0.00265
           15         -0.00198
           16         -0.00161
           17          0.00087
           19          0.00049
           20          0.00249
           21          0.00188
           22         -0.00068
           23          0.00411
           24          0.00422
           26         -0.00052
           27          0.00030
           28          0.00209
           29         -0.00385
           30          0.00388
           31         -0.00066
2          2           0.00025
           3           0.00350
           4           0.00267
           5          -0.00110
           6           0.00072
           7          -0.00062
           9          -0.00015
           10         -0.00076
           11          0.00529
           12         -0.00108
           13          0.00029
           14         -0.00369
           16          0.00184
           17          0.00334
           18         -0.00284
           19          0.00715
           20         -0.00505
           21          0.00067
           23          0.00272
           24          0.00396
           25          0.00289
           26         -0.00032
           27          0.00864
           28          0.00899
Name: pl, dtype: float64