# ML Trader

In [1]:
from utils.packages import *
from utils.variables import *
from utils.i_o import *
from utils.dir_slope import *
from utils.engine import *
from utils.loops import *
from utils.order import *
import winsound

In [2]:
%%time
data = run_engine(data)

pl    0.00236
dtype: float64
--------------------------------------
             DateTime_frmt          close_type       pl
101469 2021-01-04 18:39:22  simple_take_profit  0.00026
102377 2021-01-04 18:55:44  simple_take_profit  0.00022
103150 2021-01-04 19:07:03  simple_take_profit  0.00020
104686 2021-01-04 19:35:59  simple_take_profit  0.00011
105400 2021-01-04 19:50:55  simple_take_profit  0.00017
105865 2021-01-04 19:57:29  simple_take_profit  0.00025
106346 2021-01-04 20:03:06  simple_take_profit  0.00026
107726 2021-01-04 20:28:54         simple_stop -0.00030
108741 2021-01-04 20:48:57  simple_take_profit  0.00023
110218 2021-01-04 21:21:12  simple_take_profit  0.00031
110690 2021-01-04 21:40:37  simple_take_profit  0.00034
111449 2021-01-04 22:02:39  simple_take_profit  0.00039
111491 2021-01-04 22:06:19  simple_take_profit  0.00051
111647 2021-01-04 22:18:55  simple_take_profit  0.00048
112736 2021-01-04 23:29:33  simple_take_profit  0.00034

100%|███████████████████████████████| 113572/113572 [00:10<00:00, 10705.19it/s]

Wall time: 1min 6s

In [3]:
generate_result_report(data)

--------------------------------------
Run Complete : data/ema_df-(2021-2021)-(1-1)-(1-4).csv
--------------------------------------


--------------------------------------
Net PL
0.0024
--------------------------------------


--------------------------------------
Monthly PL
                pl
month_val
1          0.00236
--------------------------------------


--------------------------------------
Daily PL
               pl
date_val
3        -0.00104
4         0.00340
--------------------------------------


--------------------------------------
Count of transactions by Close Type
..................
                     pl
close_type
simple_stop          54
simple_take_profit  106
--------------------------------------


--------------------------------------
Mean value of transactions by Close Type
..................
                          pl
close_type
simple_stop        -0.000452
simple_take_profit  0.000253
--------------------------------------


--------------------------------------
Sum by Close Type
..................
                         pl
close_type
simple_stop        -0.02443
simple_take_profit  0.02679
--------------------------------------


--------------------------------------
Average pips per day : 0.0012
--------------------------------------


--------------------------------------
Average orders per day : 80.0
--------------------------------------

In [74]:
data["plot"] = True
data['reduce_plot'] = False
data['plot_type'] = 'file'
data['plot_start']  = '2021-01-06'
data['plot_stop']   = '2021-01-07'

plot_graph(data)

In [ ]:
# data['df'] = temp

In [14]:
temp = data['df']
temp.head(2)

,DateTime_frmt,month_val,date_val,hour_val,Bid,Ask,tick,lema,h,l,h_l_gap,h_lema,l_lema,long_open,long_close,short_open,short_close,close_type,pl
0,2021-01-03 23:03:51,1,3,23,1.22338,1.22351,1.223445,1.223498,1.22406,1.22327,0.00079,1.22406,1.22327,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-01-03 23:03:51,1,3,23,1.22338,1.22353,1.223455,1.223498,1.22406,1.22327,0.00079,1.22406,1.22327,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
i = 10000
data['avg_candle_num'] = 3

In [64]:
ind = data['df']['h'][data['df']['h'].notnull()].loc[i - data['candle_size'] * data['avg_candle_num'] + 1 : i].index

data['df']['h_avg'].loc[i:i+data['candle_size']] = np.mean(data['df']['h'].loc[ind] - data['df']['lema'].loc[ind])
data['df']['l_avg'].loc[i:i+data['candle_size']] = np.mean(data['df']['lema'].loc[ind] - data['df']['l'].loc[ind])

In [70]:
data['df']['h']         = np.nan
data['df']['l']         = np.nan
data['df']['h_l_gap']   = np.nan

data['df']['h_avg']     = np.nan
data['df']['l_avg']     = np.nan    

data['df']['h_gap']     = np.nan
data['df']['l_gap']     = np.nan

data['df']['h_lema']    = np.nan
data['df']['l_lema']    = np.nan

for i in tqdm(range(len(data['df']))):
    if i % data['candle_size'] == 0 and i > 0:        
        data['tick_list'] = data['df']['tick'].loc[i - data['candle_size'] : i-1]
        max_val     = max(data['tick_list'])
        min_val     = min(data['tick_list'])

        data['df']['h'].loc[i]  = max_val
        data['df']['l'].loc[i]  = min_val

        ind = data['df']['h'][data['df']['h'].notnull()].loc[i - data['candle_size'] * data['avg_candle_num'] + 1 : i].index
        data['df']['h_gap'].loc[i:i+data['candle_size']] = np.mean(data['df']['h'].loc[ind] - data['df']['lema'].loc[ind])
        data['df']['l_gap'].loc[i:i+data['candle_size']] = np.mean(data['df']['lema'].loc[ind] - data['df']['l'].loc[ind])

data['df']['h_lema'] = data['df']['h_gap'] + data['df']['lema']
data['df']['l_lema'] = data['df']['lema'] - data['df']['l_gap']

# data['df']['h_l_gap'] = data['df']['h'] - data['df']['l']

100%|██████████████████████████████| 113572/113572 [00:00<00:00, 191472.14it/s]

In [73]:
data['df']

,DateTime_frmt,month_val,date_val,hour_val,Bid,Ask,tick,lema,h,l,...,long_open,long_close,short_open,short_close,close_type,pl,h_avg,l_avg,h_gap,l_gap
0,2021-01-03 23:03:51,1,3,23,1.22338,1.22351,1.223445,1.223498,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-01-03 23:03:51,1,3,23,1.22338,1.22353,1.223455,1.223498,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-01-03 23:03:51,1,3,23,1.22338,1.22352,1.223450,1.223498,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-01-03 23:03:51,1,3,23,1.22338,1.22351,1.223445,1.223498,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-01-03 23:03:51,1,3,23,1.22338,1.22350,1.223440,1.223498,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113567,2021-01-04 23:59:28,1,4,23,1.22524,1.22527,1.225255,1.225154,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000222,0.000268
113568,2021-01-04 23:59:28,1,4,23,1.22524,1.22529,1.225265,1.225154,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000222,0.000268
113569,2021-01-04 23:59:29,1,4,23,1.22525,1.22530,1.225275,1.225154,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000222,0.000268
113570,2021-01-04 23:59:44,1,4,23,1.22525,1.22529,1.225270,1.225155,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000222,0.000268
113571,2021-01-04 23:59:47,1,4,23,1.22525,1.22530,1.225275,1.225155,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000222,0.000268