# ML Trader

In [1]:
from utils.packages import *
from utils.variables import *
from utils.i_o import *
from utils.dir_slope import *
from utils.engine import *
from utils.loops import *
from utils.order import *
import winsound

In [2]:
data = run_engine(data)

100%|██████████████████████████████| 3198001/3198001 [07:01<00:00, 7582.43it/s]

pl    0.06714
dtype: float64
--------------------------------------
              DateTime_frmt          close_type       pl
3187954 2020-02-28 19:56:03  simple_take_profit  0.00031
3188231 2020-02-28 19:57:46  simple_take_profit  0.00030
3189317 2020-02-28 20:05:32  simple_take_profit  0.00044
3190254 2020-02-28 20:14:55  simple_take_profit  0.00032
3190744 2020-02-28 20:19:51  simple_take_profit  0.00033
3191419 2020-02-28 20:26:42         simple_stop -0.00043
3192044 2020-02-28 20:31:28  simple_take_profit  0.00034
3193289 2020-02-28 20:44:19         simple_stop -0.00042
3193395 2020-02-28 20:45:43  simple_take_profit  0.00021
3194269 2020-02-28 20:55:55         simple_stop -0.00062
3194483 2020-02-28 20:57:39  simple_take_profit  0.00032
3194987 2020-02-28 21:02:09  simple_take_profit  0.00033
3195515 2020-02-28 21:06:05         simple_stop -0.00064
3196969 2020-02-28 21:33:47  simple_take_profit  0.00046
3197501 2020-02-28 21:45:15  simple_take_profit  0.00039

In [3]:
generate_result_report(data)

--------------------------------------
Run Complete : data/ema_df-(2020-2020)-(1-2)-(1-29).csv
--------------------------------------


--------------------------------------
Net PL
0.0671
--------------------------------------


--------------------------------------
Monthly PL
                pl
month_val
1          0.03663
2          0.03051
--------------------------------------


--------------------------------------
Count of transactions by Close Type
..................
                      pl
close_type
simple_stop          899
simple_take_profit  2185
--------------------------------------


--------------------------------------
Mean value of transactions by Close Type
..................
                          pl
close_type
simple_stop        -0.000451
simple_take_profit  0.000216
--------------------------------------


--------------------------------------
Sum by Close Type
..................
                         pl
close_type
simple_stop        -0.40537
simple_take_profit  0.47251
--------------------------------------


--------------------------------------
Average pips per day : 0.0013
--------------------------------------


--------------------------------------
Average orders per day : 60.470588235294116
--------------------------------------

In [4]:
plot_graph(data)

In [6]:
df = pd.read_csv('data\h_l_ema_2020-jul_dec_250.csv', nrows = 10000)
print(len(df))

x = 2000

start = 2000

ema_list = list(df['tick'][start:start+x])
print(pd.DataFrame(ema_list).ewm(span=len(ema_list)).mean()[0].iloc[-1].round(6))

df['lema'].iloc[start+x-1:start+x+2]

10000

In [6]:
data['report_df'].head(2)

,DateTime_frmt,month_val,date_val,Bid,Ask,tick,lema,h_l_gap,h_lema,l_lema,long_open,long_close,short_open,short_close,close_type,pl
388,2020-01-01 23:03:35,1,1,1.12211,1.12213,1.12212,1.121841,0.000375,1.122154,1.121770,NaN,NaN,NaN,1.12213,simple_stop,-0.00038
426,2020-01-01 23:03:46,1,1,1.12188,1.12196,1.12192,1.121863,0.000375,1.122178,1.121797,NaN,NaN,NaN,1.12196,simple_take_profit,0.00024

In [24]:
data['df'][data['df']['DateTime_frmt'] == '2020-02-28 21:53:18']

,DateTime_frmt,month_val,date_val,Bid,Ask,tick,lema,h_l_gap,h_lema,l_lema,long_open,long_close,short_open,short_close,close_type,pl
3197996,2020-02-28 21:53:18,2,28,1.10308,1.10314,1.103110,1.103213,0.000375,1.103261,1.102882,NaN,NaN,NaN,NaN,NaN,NaN
3197997,2020-02-28 21:53:18,2,28,1.10306,1.10308,1.103070,1.103213,0.000375,1.103260,1.102881,NaN,NaN,NaN,NaN,NaN,NaN
3197998,2020-02-28 21:53:18,2,28,1.10304,1.10308,1.103060,1.103212,0.000375,1.103258,1.102881,NaN,NaN,NaN,NaN,NaN,NaN
3197999,2020-02-28 21:53:18,2,28,1.10298,1.10308,1.103030,1.103212,0.000375,1.103257,1.102880,NaN,NaN,NaN,NaN,NaN,NaN
3198000,2020-02-28 21:53:18,2,28,1.10297,1.10308,1.103025,1.103211,0.000375,1.103255,1.102880,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
data['df']

,DateTime_frmt,month_val,date_val,Bid,Ask,tick,lema,h_l_gap,h_lema,l_lema,long_open,long_close,short_open,short_close,close_type,pl
0,2020-01-01 23:01:04,1,1,1.12185,1.12189,1.121870,1.121619,0.000415,1.121910,1.121495,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-01 23:01:04,1,1,1.12185,1.12191,1.121880,1.121619,0.000375,1.121911,1.121496,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-01 23:01:04,1,1,1.12188,1.12194,1.121910,1.121620,0.000375,1.121911,1.121496,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-01 23:01:04,1,1,1.12190,1.12196,1.121930,1.121621,0.000375,1.121912,1.121497,NaN,NaN,1.1219,NaN,NaN,NaN
4,2020-01-01 23:01:04,1,1,1.12198,1.12222,1.122100,1.121622,0.000375,1.121913,1.121498,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3197996,2020-02-28 21:53:18,2,28,1.10308,1.10314,1.103110,1.103213,0.000375,1.103261,1.102882,NaN,NaN,NaN,NaN,NaN,NaN
3197997,2020-02-28 21:53:18,2,28,1.10306,1.10308,1.103070,1.103213,0.000375,1.103260,1.102881,NaN,NaN,NaN,NaN,NaN,NaN
3197998,2020-02-28 21:53:18,2,28,1.10304,1.10308,1.103060,1.103212,0.000375,1.103258,1.102881,NaN,NaN,NaN,NaN,NaN,NaN
3197999,2020-02-28 21:53:18,2,28,1.10298,1.10308,1.103030,1.103212,0.000375,1.103257,1.102880,NaN,NaN,NaN,NaN,NaN,NaN
3198000,2020-02-28 21:53:18,2,28,1.10297,1.10308,1.103025,1.103211,0.000375,1.103255,1.102880,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df = pd.read_csv('data/eurusd_2020.csv')
df.head()

                DateTime      Bid      Ask  Volume
0  20200101 22:01:12.821  1.12106  1.12160       1
1  20200101 22:01:17.176  1.12120  1.12160       1
2  20200101 22:01:18.545  1.12117  1.12160       1
3  20200101 22:01:19.145  1.12123  1.12161       1
4  20200101 22:01:19.246  1.12120  1.12161       1

In [26]:
len(df)

32763877

In [27]:
df.drop_duplicates()

                       DateTime      Bid      Ask  Volume
0         20200101 22:01:12.821  1.12106  1.12160       1
1         20200101 22:01:17.176  1.12120  1.12160       1
2         20200101 22:01:18.545  1.12117  1.12160       1
3         20200101 22:01:19.145  1.12123  1.12161       1
4         20200101 22:01:19.246  1.12120  1.12161       1
...                         ...      ...      ...     ...
32763872  20201231 21:59:56.150  1.22142  1.22177       1
32763873  20201231 21:59:56.252  1.22141  1.22177       1
32763874  20201231 21:59:56.419  1.22141  1.22178       2
32763875  20201231 21:59:57.217  1.22141  1.22181       1
32763876  20201231 21:59:59.120  1.22141  1.22174       1

[32763877 rows x 4 columns]

In [47]:
df[3196255+3235:].head(20)

                      DateTime      Bid      Ask  Volume
3199490  20200228 21:53:15.581  1.10312  1.10321       1
3199491  20200228 21:53:15.782  1.10309  1.10320       1
3199492  20200228 21:53:16.013  1.10309  1.10321       1
3199493  20200228 21:53:17.647  1.10309  1.10320       1
3199494  20200228 21:53:18.188  1.10308  1.10314       1
3199495  20200228 21:53:18.289  1.10306  1.10308       1
3199496  20200228 21:53:18.340  1.10304  1.10308       1
3199497  20200228 21:53:18.391  1.10298  1.10308       1
3199498  20200228 21:53:18.532  1.10297  1.10308       2
3199499  20200228 21:53:18.656  1.10302  1.10308       1
3199500  20200228 21:53:18.707  1.10297  1.10308       2
3199501  20200228 21:53:19.571  1.10298  1.10307       1
3199502  20200228 21:53:20.725  1.10297  1.10308       2
3199503  20200228 21:53:26.749  1.10297  1.10304       2
3199504  20200228 21:53:26.831  1.10297  1.10307       2
3199505  20200228 21:53:26.933  1.10297  1.10308       2
3199506  20200228 21:53:27.652  1.10297  1.10309       3
3199507  20200228 21:53:28.043  1.10302  1.10309       1
3199508  20200228 21:53:28.144  1.10302  1.10311       1
3199509  20200228 21:53:28.346  1.10302  1.10310       2

In [28]:
len(df)

32763877

In [11]:
data['report_df'].groupby(['month_val', 'date_val']).pl.sum()

month_val  date_val
1          1          -0.00014
           2          -0.00216
           3           0.00293
           5           0.00122
           6          -0.00095
           7           0.00155
           8           0.00507
           9           0.00211
           10         -0.00027
           12         -0.00022
           13          0.00485
           14          0.00508
           15         -0.00121
           16          0.00121
           17          0.00285
           19          0.00058
           20          0.00093
           21          0.00157
           22         -0.00198
           23          0.00554
           24          0.00124
           26          0.00132
           27          0.00139
           28         -0.00059
           29          0.00197
           30          0.00259
           31          0.00015
2          2           0.00020
           3           0.00356
           4           0.00498
           5           0.00064
           6          -0.00086
           7          -0.00093
           9           0.00022
           10          0.00153
           11          0.00583
           12          0.00182
           13         -0.00052
           14         -0.00315
           16          0.00087
           17          0.00036
           18         -0.00177
           19          0.00509
           20         -0.00174
           21          0.00311
           23         -0.00412
           24         -0.00002
           25          0.00576
           26         -0.00109
           27          0.00696
           28          0.00378
Name: pl, dtype: float64