# ML Trader

In [1]:
from utils.packages import *
from utils.variables import *
from utils.i_o import *
from utils.dir_slope import *
from utils.engine import *
from utils.loops import *
from utils.order import *
import winsound

In [2]:
%%time
data = run_engine(data)

pl    0.00126
dtype: float64
--------------------------------------
             DateTime_frmt order_side               close_type       pl
471689 2021-01-08 09:15:37      short              simple_stop -0.00107
476835 2021-01-08 10:08:47      short              simple_stop -0.00076
487647 2021-01-08 12:54:46       long  simple_slema_move_close  0.00069
491120 2021-01-08 13:30:50       long  simple_slema_move_close  0.00005
498217 2021-01-08 13:56:02       long  simple_slema_move_close  0.00175
508257 2021-01-08 14:53:02       long              simple_stop -0.00131
519653 2021-01-08 15:52:04      short  simple_slema_move_close  0.00131
520825 2021-01-08 15:58:13      short              simple_stop -0.00124
524526 2021-01-08 16:15:04       long              simple_stop -0.00124
526577 2021-01-08 16:22:59       long              simple_stop -0.00109
545409 2021-01-08 19:11:51      short  simple_slema_move_close  0.00509
550516 2021-01-08 20:48:00      short              simple_stop -0.00101
554346 2021-01-10 22:15:58       long              simple_stop -0.00119
554485 2021-01-10 22:29:26       long              simple_stop -0.00113
556054 2021-01-10 23:07:46       long              simple_stop -0.00093

100%|███████████████████████████████| 559324/559324 [00:39<00:00, 14060.92it/s]

Wall time: 49 s

In [3]:
generate_result_report(data)

--------------------------------------
Run Complete : data/ema_df-(2021-2021)-(1-1)-(1-11).csv
--------------------------------------


--------------------------------------
Net PL
0.0013
--------------------------------------


--------------------------------------
Monthly PL
                pl
month_val
1          0.00126
--------------------------------------


--------------------------------------
Daily PL
               pl
date_val
4         0.00272
5         0.00057
6         0.00163
7        -0.00045
8         0.00004
10       -0.00325
--------------------------------------


--------------------------------------
Count of transactions by Close Type
..................
                         pl
close_type
simple_slema_move_close  41
simple_stop              36
--------------------------------------


--------------------------------------
Mean value of transactions by Close Type
..................
                               pl
close_type
simple_slema_move_close  0.000811
simple_stop             -0.000888
--------------------------------------


--------------------------------------
Sum by Close Type
..................
                              pl
close_type
simple_slema_move_close  0.03324
simple_stop             -0.03198
--------------------------------------


--------------------------------------
Average pips per day : 0.0002
--------------------------------------


--------------------------------------
Average orders per day : 12.833333333333334
--------------------------------------

In [8]:
data["plot"] = True
data['plot_type'] = 'file'
data['reduce_plot'] = True
data['plot_start']  = '2021-01-5'
data['plot_stop']   = '2021-01-6'
# data['things_to_plot'] = ['tick', 'lema', 'h_l_lema', 'tick_angle', 'positions']
data['things_to_plot'] = ['tick', 'ema', 'h_l_lema', 'tick_angle', 'positions']

In [9]:
plot_graph(data)

In [17]:
data['report_df'][data['report_df']['date_val'] == 5]

,DateTime,Bid,Ask,Volume,i,tick,sema,lema,DateTime_frmt,tick_angle,...,short_open,close_type,pl,month_val,date_val,hour_val,long_profit,long_loss,short_profit,short_loss
91018,20210105 00:50:53.605,1.22561,1.22564,1,0,1.225625,1.225409,1.224987,2021-01-05 00:50:53,3.816079,...,NaN,simple_stop,-0.00057,1,5,0,NaN,NaN,NaN,1.22564
101411,20210105 04:29:07.297,1.22668,1.22671,2,0,1.226695,1.226825,1.226825,2021-01-05 04:29:07,9.626817,...,NaN,simple_slema_move_close,0.00112,1,5,4,1.22668,NaN,NaN,NaN
109897,20210105 07:35:10.741,1.22671,1.22674,1,0,1.226725,1.226869,1.226869,2021-01-05 07:35:10,-1.356613,...,NaN,simple_slema_move_close,0.00030,1,5,7,1.22671,NaN,NaN,NaN
113223,20210105 08:09:44.272,1.22668,1.22670,1,0,1.226690,1.226274,1.226474,2021-01-05 08:09:44,-6.445055,...,NaN,simple_stop,-0.00052,1,5,8,NaN,NaN,NaN,1.22670
113998,20210105 08:17:39.933,1.22744,1.22746,1,0,1.227450,1.226997,1.226552,2021-01-05 08:17:39,-4.868466,...,NaN,simple_stop,-0.00052,1,5,8,NaN,NaN,NaN,1.22746
117484,20210105 08:47:06.304,1.22696,1.22699,2,0,1.226975,1.226692,1.226692,2021-01-05 08:47:06,2.391567,...,NaN,simple_slema_move_close,0.00017,1,5,8,NaN,NaN,1.22699,NaN
124247,20210105 10:07:54.995,1.22784,1.22786,1,0,1.227850,1.227355,1.227475,2021-01-05 10:07:54,5.571313,...,NaN,simple_slema_move_close,0.00002,1,5,10,1.22784,NaN,NaN,NaN
130486,20210105 11:40:57.926,1.22820,1.22822,7,0,1.228210,1.228493,1.228096,2021-01-05 11:40:57,3.941634,...,NaN,simple_stop,-0.00080,1,5,11,NaN,1.2282,NaN,NaN
133736,20210105 12:26:22.783,1.22680,1.22683,8,0,1.226815,1.227169,1.227980,2021-01-05 12:26:22,-0.515050,...,NaN,simple_stop,-0.00078,1,5,12,NaN,1.2268,NaN,NaN
144076,20210105 14:15:21.077,1.22716,1.22718,1,0,1.227170,1.226830,1.226830,2021-01-05 14:15:21,-4.602042,...,NaN,simple_slema_move_close,0.00006,1,5,14,NaN,NaN,1.22718,NaN
155396,20210105 15:30:14.940,1.22664,1.22667,1,0,1.226655,1.226301,1.226300,2021-01-05 15:30:14,-8.351698,...,NaN,simple_slema_move_close,0.00068,1,5,15,NaN,NaN,1.22667,NaN
158407,20210105 15:50:32.525,1.22776,1.22778,6,0,1.227770,1.227379,1.226611,2021-01-05 15:50:32,4.721870,...,NaN,simple_stop,-0.00081,1,5,15,NaN,NaN,NaN,1.22778
174869,20210105 18:45:00.573,1.22977,1.22982,3,0,1.229795,1.229913,1.229913,2021-01-05 18:45:00,4.108176,...,NaN,simple_slema_move_close,0.00213,1,5,18,1.22977,NaN,NaN,NaN
180134,20210105 20:38:04.132,1.22968,1.22971,1,0,1.229695,1.229881,1.229881,2021-01-05 20:38:04,-0.234016,...,NaN,simple_slema_move_close,0.00009,1,5,20,1.22968,NaN,NaN,NaN