# ML Trader

In [1]:
from utils.packages import *
from utils.variables import *
from utils.i_o import *
from utils.dir_slope import *
from utils.engine import *
from utils.loops import *
from utils.order import *
import winsound
from tqdm import tqdm
tqdm.pandas()

In [2]:
data['df'] = pd.read_csv('data/eurusd_2021.csv')

In [3]:
%%time
data["df"]['DateTime_frmt']   = [dt.datetime.strptime(x.split(".")[0],"%Y%m%d %H:%M:%S") for x in data["df"]['DateTime']]

Wall time: 1min 13s

In [24]:
data['df']['tick']      = (data["df"]['Ask'] + data["df"]['Bid'])/2

In [25]:
data['df']

,DateTime,Bid,Ask,Volume,DateTime_frmt,day,tick
0,20210103 22:00:00.040,1.22396,1.22411,7,2021-01-03 22:00:00,3,1.224035
1,20210103 22:00:00.144,1.22395,1.22410,7,2021-01-03 22:00:00,3,1.224025
2,20210103 22:00:00.434,1.22393,1.22411,1,2021-01-03 22:00:00,3,1.224020
3,20210103 22:00:00.738,1.22393,1.22410,1,2021-01-03 22:00:00,3,1.224015
4,20210103 22:00:00.933,1.22392,1.22409,1,2021-01-03 22:00:00,3,1.224005
...,...,...,...,...,...,...,...
1931106,20210131 23:59:51.278,1.21225,1.21231,2,2021-01-31 23:59:51,31,1.212280
1931107,20210131 23:59:51.380,1.21227,1.21230,1,2021-01-31 23:59:51,31,1.212285
1931108,20210131 23:59:51.962,1.21227,1.21231,1,2021-01-31 23:59:51,31,1.212290
1931109,20210131 23:59:52.065,1.21227,1.21232,1,2021-01-31 23:59:52,31,1.212295
1931110,20210131 23:59:53.519,1.21227,1.21231,1,2021-01-31 23:59:53,31,1.212290

In [8]:
data['start_date'] = {'year':2021, 'month':1, 'date':1}
data['end_date']   = {'year':2021, 'month':1, 'date':31}
data = get_date_list(data)

In [11]:
data["df"] = data["df"][data["df"]['DateTime'].str.contains('|'.join(data['date_list']))]

In [30]:
data['df']['tick'][data['df']['day'] == 3]

0       1.224035
1       1.224025
2       1.224020
3       1.224015
4       1.224005
          ...
5546    1.225030
5547    1.225035
5548    1.225030
5549    1.225025
5550    1.225015
Name: tick, Length: 5551, dtype: float64

In [ ]:
data['df']['tick'][data['df']['day'] == data['val']]

In [60]:
data['val'] = 5
data['o'] = list(data['df']['tick'][data['df']['day'] == data['val']])[0]
data['h'] = max(data['df']['tick'][data['df']['day'] == data['val']])
data['l'] = min(data['df']['tick'][data['df']['day'] == data['val']])
data['c'] = list(data['df']['tick'][data['df']['day'] == data['val']])[-1]

In [61]:
print(data['o'])
print(data['h'])
print(data['l'])
print(data['c'])

1.2252800000000001
1.230575
1.22472
1.22987

In [ ]:
r = instruments.InstrumentsCandles(instrument="DE30_EUR",
>>>                                    params=params)
>>> client.request(r)
>>> print r.response

In [18]:
for i in np.arange(1,32):
    data['df']

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31

In [13]:
data["df"]['day'] = [x.date().day for x in data["df"]['DateTime_frmt']]

In [ ]:
data['df']

In [ ]:
data['df']['DateTime_frmt'][0]

In [ ]:
print(data['df']['DateTime_frmt'][0])

In [ ]:
data['df']['DateTime_frmt'][0] + dt.timedelta(days = 5)

In [ ]:
data['df']['DateTime_frmt'][0] + relativedelta(months = 5)

In [ ]:
if data["plot"]:
#     data = adjust_plot_list_lengths(data)
    plot_graph(data)
    
print('-----------------------------------------------------')
print_report(data)
print('-----------------------------------------------------')
print(data['report_df'].groupby(['month_val'])['pls'].sum())
print('-----------------------------------------------------')
print(data['report_df']['close_type'].value_counts())
print('-----------------------------------------------------')
data['report_df']

winsound.PlaySound('C:\\Windows\\Media\\tada.wav', winsound.SND_ASYNC)

import glob

for file in glob.glob("data/*.csv"):
    if file not in ['data\\eurusd_2021.csv', 'data\\full_df.csv']:
        df = pd.read_csv(file)
        print('----------------------------')
        print(f'file : {file}')
        print(df['pls'].sum())
        print(df.groupby(['month_val'])['pls'].sum())
        print('----------------------------')

In [ ]:
data['report_df'][['date', 'ord_types', 'close_type', 'pls']]