# ML Trader

In [1]:
from utils.packages import *
from utils.variables import *
from utils.i_o import *
from utils.dir_slope import *
from utils.engine import *
from utils.loops import *
from utils.order import *
import winsound

In [2]:
data = get_date_list(data)
data = read_data(data)

Record num : 11929

In [3]:
for data['i'] in tqdm(range(0, data['df_len'])):
    
    data['df']['DateTime_frmt'][data['i']] = dt.datetime.strptime(data['df']['DateTime'][data['i']].split(".")[0],"%Y%m%d %H:%M:%S")
    
    data['ask'] = data['df']['Ask'][data['i']]
    data['bid'] = data['df']['Bid'][data['i']]  
    
    data['tick'] = (data['df']['Ask'][data['i']] + data['df']['Bid'][data['i']])/2
    data['df']['tick'][data['i']] = data['tick']
        
    # sema before after loops --------------------------------
    if len(data['sema_list']) < data['sema_len']:
        data =  before_sema(data)

    if len(data['sema_list']) == data['sema_len']:
        data = after_sema(data)                 
    # ----------------------------------------------------------
    
        # sema before after loops --------------------------------
    if len(data['sema_list']) < data['sema_len']:
        data =  before_sema(data)

    if len(data['sema_list']) == data['sema_len']:
        data = after_sema(data)                 
    # ----------------------------------------------------------


    # lema before after loops --------------------------------
    if len(data['lema_list']) < data['lema_len']:
        data = before_lema(data)        
        continue

    if len(data['lema_list']) == data['lema_len']:
        data = after_lema(data)                  
    # ----------------------------------------------------------
    
    data = get_ohlc(data)    
    
    data = get_position(data)
    if not data['position']:
        continue
        
    # Get Dirs --------------------------------
    if len(data['dir_list']) < 2:
        data['dir_list'].append(data['position'])   
        continue

    elif len(data['dir_list']) == 2:
        data = get_cross_dir(data)
    # ----------------------------------------------------------  
    
    data = get_trend_lines_back_line(data)
#     data = get_trend_lines_moving(data)
    data = trend_angle_check(data)

100%|███████████████████████████████████| 11929/11929 [01:10<00:00, 168.68it/s]

In [4]:
data['df']

,DateTime,Bid,Ask,tick,DateTime_frmt,sema,lema,position,direction,to_order,h_line_angle,l_line_angle,trend_angle,trend_calc_spot,h,l,h_line,l_line
0,20210105 00:00:00.070,1.22525,1.22531,1.225280,2021-01-05 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20210105 00:00:02.487,1.22525,1.22530,1.225275,2021-01-05 00:00:02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20210105 00:00:03.611,1.22526,1.22528,1.225270,2021-01-05 00:00:03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20210105 00:00:03.662,1.22522,1.22527,1.225245,2021-01-05 00:00:03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20210105 00:00:03.764,1.22521,1.22526,1.225235,2021-01-05 00:00:03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11924,20210105 04:18:23.037,1.22666,1.22669,1.226675,2021-01-05 04:18:23,1.226664,1.226888,down,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11925,20210105 04:18:24.915,1.22665,1.22669,1.226670,2021-01-05 04:18:24,1.226664,1.226887,down,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11926,20210105 04:18:30.249,1.22663,1.22666,1.226645,2021-01-05 04:18:30,1.226664,1.226887,down,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11927,20210105 04:18:36.961,1.22664,1.22668,1.226660,2021-01-05 04:18:36,1.226664,1.226886,down,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11928,20210105 04:18:39.893,1.22665,1.22669,1.226670,2021-01-05 04:18:39,1.226664,1.226886,down,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
num_rec = len(data["df"])
hours = np.round((list(data['df']['DateTime_frmt'])[-1] - list(data['df']['DateTime_frmt'])[0]).total_seconds() / 60 / 60 , 2)
recsphour = int(num_rec/hours)

print(f'Records   : {num_rec}')
print(f'Hours     : {hours}')
print(f'Recs/hour : {recsphour}')
print(f'Recs/min  : {int(recsphour/60)}')
print(f'Recs/sec  : {np.round(recsphour/3600, 1)}')

data['df'].head()

Records   : 11929
Hours     : 4.31
Recs/hour : 2767
Recs/min  : 46
Recs/sec  : 0.8

,DateTime,Bid,Ask,tick,DateTime_frmt,sema,lema,position,direction,to_order,h_line_angle,l_line_angle,trend_angle,trend_calc_spot,h,l,h_line,l_line
0,20210105 00:00:00.070,1.22525,1.22531,1.225280,2021-01-05 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20210105 00:00:02.487,1.22525,1.22530,1.225275,2021-01-05 00:00:02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20210105 00:00:03.611,1.22526,1.22528,1.225270,2021-01-05 00:00:03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20210105 00:00:03.662,1.22522,1.22527,1.225245,2021-01-05 00:00:03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20210105 00:00:03.764,1.22521,1.22526,1.225235,2021-01-05 00:00:03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
plot_graph(data)

In [7]:
data['df'].to_csv('data/temp.csv')

PermissionError: [Errno 13] Permission denied: 'data/temp.csv'

In [ ]:
winsound.PlaySound('C:\\Windows\\Media\\tada.wav', winsound.SND_ASYNC)