# ML Trader

In [1]:
from utils.packages import *
from utils.variables import *
from utils.i_o import *
from utils.dir_slope import *
from utils.engine import *
from utils.loops import *
from utils.order import *
import winsound

In [2]:
%%time
data = get_date_list(data)
data = read_data(data)

Record num : 5000
Wall time: 18.6 s

In [3]:
%%time
data['df']['tick']      = (data["df"]['Ask'] + data["df"]['Bid'])/2
data['df']['dt']   = [dt.datetime.strptime(x.split(".")[0],"%Y%m%d %H:%M:%S") for x in data["df"]['DateTime']]

data['df'] = data['df'][['dt','tick']]
data['df']['month_val'] = [x.month for x in data['df']['dt']]
data['df']['date_val'] = [x.day for x in data['df']['dt']]
data['df']['hour_val'] = [x.hour for x in data['df']['dt']]
data['df']['min_val'] = [x.minute for x in data['df']['dt']]

Wall time: 139 ms

In [4]:
data['df'].head(2)

                   dt      tick  month_val  date_val  hour_val  min_val
0 2021-01-03 22:00:00  1.224035          1         3        22        0
1 2021-01-03 22:00:00  1.224025          1         3        22        0

In [12]:
data['df'].groupby(['date_val', 'hour_val']).tick.max()

date_val  hour_val
3         22          1.22426
          23          1.22516
Name: tick, dtype: float64

In [5]:
max_group = data['df'].groupby(['date_val', 'hour_val']).tick.max()
date_index, hour_index = zip(*max_group.index)
max_vaues = max_group.values

data['df_max'] = pd.DataFrame()
data['df_max']['date_index'] = date_index
data['df_max']['hour_index'] = hour_index
data['df_max']['max_vaues'] = max_vaues
data['df_max']

   date_index  hour_index  max_vaues
0           3          22    1.22426
1           3          23    1.22516

In [6]:
min_group = data['df'].groupby(['date_val', 'hour_val']).tick.min()
date_index, hour_index = zip(*min_group.index)
min_vaues = min_group.values

data['df_min'] = pd.DataFrame()
data['df_min']['date_index'] = date_index
data['df_min']['hour_index'] = hour_index
data['df_min']['min_vaues'] = min_vaues
data['df_min']

   date_index  hour_index  min_vaues
0           3          22   1.223160
1           3          23   1.223115