# ML Trader

In [1]:
from utils.packages import *
from utils.variables import *
from utils.i_o import *
from utils.dir_slope import *
from utils.engine import *
from utils.loops import *
from utils.order import *

In [ ]:
data['start_date'] = {'year':2021, 'month':3, 'date':1}
data['end_date']   = {'year':2021, 'month':4, 'date':30}

In [2]:
%%time
data = get_date_list(data)
data = run_engine(data)

100%|████████████████████████████▉| 1566548/1572069 [01:37<00:00, 13466.05it/s]

pls    0.03563
dtype: float64
--------------------------------------
                   date ord_types               close_type      pls
286 2021-02-26 16:31:09      long                all_close -0.00099
287 2021-02-26 16:31:09      long                all_close -0.00080
288 2021-02-26 16:31:09      long                all_close -0.00044
289 2021-02-26 16:31:09      long                all_close -0.00012
290 2021-02-26 16:31:09      long                all_close  0.00026
291 2021-02-26 16:31:09      long                all_close  0.00084
292 2021-02-26 16:31:09      long                all_close  0.00195
293 2021-02-26 16:31:09      long                all_close  0.00256
294 2021-02-26 16:31:09      long                all_close  0.00340
295 2021-02-26 16:31:09      long                all_close  0.00378
296 2021-02-26 16:31:09      long                all_close  0.00380
297 2021-02-26 18:11:02     short  simple_slema_move_close  0.00079
298 2021-02-26 21:24:01     short                all_close -0.00057
299 2021-02-26 21:24:01      long                all_close  0.00010
300 2021-02-26 21:24:01      long                all_close  0.00066

100%|█████████████████████████████| 1572069/1572069 [01:37<00:00, 16077.07it/s]

Wall time: 1min 54s

In [3]:
data['temp_df']['open_order'] = data['open_order_temp_list']
data['temp_df']['pl'] = data['pl_temp_list'] 
data['temp_df'].to_csv('temp.csv')

In [4]:
min(data['temp_df']['pl'])

-0.12394

In [5]:
max(data['temp_df']['pl'])

0.0043

In [6]:
max(data['temp_df']['open_order'])

19

In [7]:
data['orders_list']

{'total_pl': 0}

In [8]:
if data["plot"]:
    data = adjust_plot_list_lengths(data)
    plot_graph(data)
    
print('-----------------------------------------------------')
print_report(data)
print('-----------------------------------------------------')
print(data['report_df'].groupby(['month_val'])['pls'].sum())
print('-----------------------------------------------------')
print(data['report_df']['close_type'].value_counts())
print('-----------------------------------------------------')
data['report_df']

winsound.PlaySound('C:\\Windows\\Media\\tada.wav', winsound.SND_ASYNC)

-----------------------------------------------------
==============================
date_val          : ['20210201', '20210202', '20210203', '20210204', '20210205', '20210206', '20210207', '20210208', '20210209', '20210210', '20210211', '20210212', '20210213', '20210214', '20210215', '20210216', '20210217', '20210218', '20210219', '20210220', '20210221', '20210222', '20210223', '20210224', '20210225', '20210226', '20210227', '20210228']
Total PL : 0.03562999999999998
-------------
net_pl            : 0.03563/0.19425
-------------
+ve               : num= 157    sum= +0.11494    avg= +0.00073
-ve               : num= 137    sum= -0.07931    avg= -0.00058
==============================
-----------------------------------------------------
month_val
2    0.03563
Name: pls, dtype: float64
-----------------------------------------------------
all_close                  254
simple_slema_move_close     47
Name: close_type, dtype: int64
-----------------------------------------------------

import glob

for file in glob.glob("data/*.csv"):
    if file not in ['data\\eurusd_2021.csv', 'data\\full_df.csv']:
        df = pd.read_csv(file)
        print('----------------------------')
        print(f'file : {file}')
        print(df['pls'].sum())
        print(df.groupby(['month_val'])['pls'].sum())
        print('----------------------------')

In [9]:
data['report_df'].groupby(['date_val'])['pls'].sum()

date_val
1     0.00263
2     0.00235
3     0.00049
4     0.00180
5     0.00092
8     0.00183
9     0.00148
10    0.00045
11    0.00109
12    0.00057
15    0.00071
16    0.00100
17    0.00307
18    0.00191
19    0.00315
22    0.00177
23    0.00051
24    0.00147
25    0.00104
26    0.00739
Name: pls, dtype: float64

In [10]:
winsound.PlaySound('C:\\Windows\\Media\\tada.wav', winsound.SND_ASYNC)
send_telegram_message(f'Run Complete')

In [11]:
data['report_df'].groupby(['close_type'])['pls'].mean()

close_type
all_close                  0.000066
simple_slema_move_close    0.000399
Name: pls, dtype: float64

In [12]:
data['report_df'].groupby(['close_type'])['pls'].sum()

close_type
all_close                  0.01687
simple_slema_move_close    0.01876
Name: pls, dtype: float64

In [13]:
data['report_df'].groupby(['date'])['date'].count().sort_values(ascending=False)

date
2021-02-02 09:00:00    19
2021-02-26 16:31:09    19
2021-02-11 23:21:25    19
2021-02-17 10:08:44    11
2021-02-26 16:02:10    10
                       ..
2021-02-12 09:27:33     1
2021-02-11 17:39:27     1
2021-02-11 13:51:22     1
2021-02-11 02:30:01     1
2021-02-01 09:12:05     1
Name: date, Length: 102, dtype: int64

In [14]:
data['report_df']['duration'].sort_values(ascending=False)

107   0 days 05:30:19
135   0 days 05:03:57
178   0 days 04:28:50
52    0 days 04:10:41
162   0 days 04:05:30
            ...
250   0 days 00:00:13
274   0 days 00:00:10
275   0 days 00:00:09
276   0 days 00:00:07
277   0 days 00:00:04
Name: duration, Length: 301, dtype: timedelta64[ns]