# ML Trader

In [1]:
from utils.packages import *
from utils.variables import *
from utils.i_o import *
from utils.dir_slope import *
from utils.engine import *
from utils.loops import *
from utils.order import *
import winsound

In [2]:
data['num_of_switch_orders']    = 30

In [3]:
%%time
data = get_date_list(data)
data = run_engine(data)

100%|███████████████████████████▉| 15121499/15125888 [32:46<00:01, 3617.14it/s]

pls    1.42815
dtype: float64
--------------------------------------
                    date ord_types close_type      pls
8807 2021-12-30 19:27:04     short  all_close -0.00061
8808 2021-12-30 19:27:04      long  all_close  0.00072
8809 2021-12-31 14:15:49      long  all_close -0.00029
8810 2021-12-31 14:15:49     short  all_close  0.00008
8811 2021-12-31 14:15:49     short  all_close  0.00039
8812 2021-12-31 15:37:10      long  all_close -0.00059
8813 2021-12-31 15:37:10     short  all_close  0.00070
8814 2021-12-31 16:01:03      long  all_close -0.00031
8815 2021-12-31 16:01:03     short  all_close  0.00008
8816 2021-12-31 16:01:03     short  all_close  0.00033
8817 2021-12-31 18:27:01      long  all_close -0.00014
8818 2021-12-31 18:27:01     short  all_close -0.00020
8819 2021-12-31 18:27:01     short  all_close  0.00000
8820 2021-12-31 18:27:01     short  all_close  0.00016
8821 2021-12-31 18:27:01     short  all_close  0.00035

100%|████████████████████████████| 15125888/15125888 [32:47<00:00, 7689.60it/s]

Wall time: 35min 58s

In [4]:
data['temp_df']['open_order'] = data['open_order_temp_list']
data['temp_df']['pl'] = data['pl_temp_list'] 
data['temp_df'].to_csv('data/temp.csv')

In [5]:
min(data['temp_df']['pl'])

-2.39345

In [6]:
max(data['temp_df']['pl'])

0.11204

In [7]:
max(data['temp_df']['open_order'])

30

In [8]:
data['dt_val']

datetime.datetime(2021, 12, 31, 21, 59, 56)

In [9]:
data['orders_list']

{'total_pl': 0, 'pl_list': []}

In [10]:
if data["plot"]:
    data = adjust_plot_list_lengths(data)
    plot_graph(data)
    
print('-----------------------------------------------------')
print_report(data)
print('-----------------------------------------------------')
print(data['report_df'].groupby(['month_val'])['pls'].sum())
print('-----------------------------------------------------')
print(data['report_df']['close_type'].value_counts())
print('-----------------------------------------------------')
winsound.PlaySound('C:\\Windows\\Media\\tada.wav', winsound.SND_ASYNC)

-----------------------------------------------------
==============================
Total PL : 1.4281500000000014
-------------
net_pl            : 1.42815/3.82595
-------------
+ve               : num= 4750    sum= +2.62705    avg= +0.00055
-ve               : num= 3386    sum= -1.1989    avg= -0.00035
==============================
-----------------------------------------------------
month_val
1     0.19472
2     0.09696
3     0.09080
4     0.05904
5     0.08665
6     0.18267
7     0.11807
8     0.06912
9     0.16659
10    0.07340
12    0.29013
Name: pls, dtype: float64
-----------------------------------------------------
all_close                  8651
simple_slema_move_close     171
Name: close_type, dtype: int64
-----------------------------------------------------

In [11]:
data['report_df'].groupby(['date_val'])['pls'].sum()

date_val
1     0.05550
2     0.01394
3     0.04982
4     0.04427
5     0.01198
6     0.03606
7     0.06936
8     0.03756
9     0.04230
10    0.02241
11    0.01850
12    0.09920
13    0.05451
14    0.02535
15    0.04090
16    0.03311
17    0.02228
18    0.02224
19    0.07482
20    0.11230
21    0.07843
22    0.04280
23    0.03836
24    0.13243
25    0.03126
26    0.04385
27    0.02323
28    0.03306
29    0.08054
30    0.02796
31    0.00982
Name: pls, dtype: float64

In [12]:
winsound.PlaySound('C:\\Windows\\Media\\tada.wav', winsound.SND_ASYNC)
send_telegram_message(f'Run Complete : {data["df_name"]}')

In [13]:
data['report_df'].groupby(['close_type'])['pls'].mean()

close_type
all_close                  0.000152
simple_slema_move_close    0.000637
Name: pls, dtype: float64

In [14]:
data['report_df'].groupby(['close_type'])['pls'].sum()

close_type
all_close                  1.31917
simple_slema_move_close    0.10898
Name: pls, dtype: float64

In [15]:
data['report_df'].groupby(['date'])['date'].count().value_counts().sort_values(ascending=False)

3     200
2     177
1     171
30    150
4      90
5      74
6      39
8      20
7      13
10     12
19     11
24     10
18      9
16      8
17      7
9       7
20      6
26      5
27      4
15      4
25      4
12      3
14      3
29      3
22      3
28      2
11      2
21      2
23      2
13      2
Name: date, dtype: int64

In [16]:
data['report_df']['duration'].sort_values(ascending=False)

6843   5 days 04:15:07
6844   5 days 04:14:42
6845   5 days 03:56:33
6846   5 days 03:56:20
6847   5 days 03:56:18
             ...
3557   0 days 00:00:00
125    0 days 00:00:00
124    0 days 00:00:00
123    0 days 00:00:00
1931   0 days 00:00:00
Name: duration, Length: 8822, dtype: timedelta64[ns]