# ML Trader

In [1]:
from utils.packages import *
from utils.variables import *
from utils.i_o import *
from utils.dir_slope import *
from utils.engine import *
from utils.loops import *
from utils.order import *

In [2]:
%%time
data = get_date_list(data)
data = read_data(data)
data = run_engine(data)

if data["plot"]:
    plot_graph(data)
    
print('-----------------------------------------------------')
print_report(data)
print('-----------------------------------------------------')
print(data['report_df'].groupby(['date_val'])['pls'].sum())
print('-----------------------------------------------------')
print(data['report_df']['pls'].value_counts())
print('-----------------------------------------------------')
data['report_df']

 99%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▍ | 126991/128267 [08:34<00:05, 233.77it/s]

pls    0.00059
dtype: float64
--------------------------------------
                  date   close_type      pls
0  2021-04-01 06:45:09  angle_close  0.00030
1  2021-04-01 08:46:23   sema_close -0.00037
2  2021-04-01 08:48:25   sema_close -0.00028
3  2021-04-01 08:50:01   sema_close -0.00015
4  2021-04-01 08:50:06   sema_close -0.00013
..                 ...          ...      ...
57 2021-04-05 15:03:39  angle_close  0.00020
58 2021-04-05 17:38:20  angle_close  0.00107
59 2021-04-05 19:59:45   sema_close -0.00021
60 2021-04-05 20:11:29   sema_close -0.00028
61 2021-04-05 20:58:00   sema_close -0.00029

[62 rows x 3 columns]

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 128267/128267 [08:39<00:00, 247.13it/s]

-----------------------------------------------------
==============================
date_val          : ['20210401', '20210402', '20210403', '20210404', '20210405']
Total PL : 0.0005900000000000009
-------------
net_pl            : 0.00059/0.02555
-------------
+ve               : num= 22    sum= +0.01307    avg= +0.00059
-ve               : num= 40    sum= -0.01248    avg= -0.00031
==============================
-----------------------------------------------------
date_val
1    0.00126
2   -0.00502
4   -0.00153
5    0.00588
Name: pls, dtype: float64
-----------------------------------------------------
-0.00021    3
 0.00020    3
 0.00043    2
-0.00011    2
-0.00044    2
-0.00027    2
-0.00007    2
-0.00022    2
-0.00024    2
-0.00028    2
-0.00038    2
 0.00021    2
-0.00015    2
-0.00047    2
 0.00033    1
-0.00029    1
 0.00134    1
 0.00023    1
 0.00317    1
 0.00001    1
-0.00019    1
-0.00013    1
-0.00012    1
-0.00037    1
 0.00002    1
-0.00040    1
-0.00039    1
-0.00071    1
-0.00033    1
-0.00032    1
 0.00022    1
 0.00038    1
 0.00030    1
-0.00030    1
 0.00110    1
-0.00060    1
-0.00049    1
-0.00041    1
 0.00064    1
 0.00024    1
-0.00018    1
-0.00073    1
-0.00063    1
 0.00107    1
 0.00125    1
 0.00089    1
Name: pls, dtype: int64
-----------------------------------------------------
Wall time: 8min 46s

,date,year_val,month_val,date_val,hour_val,minute_val,close_type,pls
0,2021-04-01 06:45:09,2021,4,1,6,45,angle_close,0.00030
1,2021-04-01 08:46:23,2021,4,1,8,46,sema_close,-0.00037
2,2021-04-01 08:48:25,2021,4,1,8,48,sema_close,-0.00028
3,2021-04-01 08:50:01,2021,4,1,8,50,sema_close,-0.00015
4,2021-04-01 08:50:06,2021,4,1,8,50,sema_close,-0.00013
...,...,...,...,...,...,...,...,...
57,2021-04-05 15:03:39,2021,4,5,15,3,angle_close,0.00020
58,2021-04-05 17:38:20,2021,4,5,17,38,angle_close,0.00107
59,2021-04-05 19:59:45,2021,4,5,19,59,sema_close,-0.00021
60,2021-04-05 20:11:29,2021,4,5,20,11,sema_close,-0.00028
61,2021-04-05 20:58:00,2021,4,5,20,58,sema_close,-0.00029