# ML Trader

In [1]:
from utils.packages import *
from utils.variables import *
from utils.i_o import *
from utils.dir_slope import *
from utils.engine import *
from utils.loops import *
from utils.order import *

In [2]:
data['pl_move_flag'] = True

In [3]:
%%time
data = get_date_list(data)
data = read_data(data)
data = run_engine(data)

if data["plot"]:
    plot_graph(data)
    
print('-----------------------------------------------------')
print_report(data)
print('-----------------------------------------------------')
print(data['report_df'].groupby(['date_val'])['pls'].sum())
print('-----------------------------------------------------')
print(data['report_df']['pls'].value_counts())
print('-----------------------------------------------------')
data['report_df']

 99%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▌ | 127083/128267 [08:42<00:05, 198.85it/s]

pls    0.0027
dtype: float64
--------------------------------------
                  date     close_type      pls
0  2021-04-01 06:32:15  pl_move_close  0.00007
1  2021-04-01 08:41:12  pl_move_close  0.00006
2  2021-04-01 08:48:25     sema_close -0.00028
3  2021-04-01 08:50:01     sema_close -0.00015
4  2021-04-01 08:50:06     sema_close -0.00013
..                 ...            ...      ...
58 2021-04-05 17:38:20    angle_close  0.00107
59 2021-04-05 19:21:10  pl_move_close  0.00007
60 2021-04-05 20:11:29     sema_close -0.00028
61 2021-04-05 20:58:00     sema_close -0.00029
62 2021-04-05 21:08:19  pl_move_close  0.00002

[63 rows x 3 columns]

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 128267/128267 [08:47<00:00, 243.22it/s]

-----------------------------------------------------
==============================
date_val          : ['20210401', '20210402', '20210403', '20210404', '20210405']
Total PL : 0.0027
-------------
net_pl            : 0.0027/0.01656
-------------
+ve               : num= 38    sum= +0.00963    avg= +0.00025
-ve               : num= 25    sum= -0.00693    avg= -0.00028
==============================
-----------------------------------------------------
date_val
1    0.00149
2   -0.00320
4    0.00011
5    0.00430
Name: pls, dtype: float64
-----------------------------------------------------
 0.00007    18
 0.00006     7
 0.00005     4
-0.00028     2
-0.00047     2
 0.00021     2
-0.00021     2
-0.00011     2
-0.00007     2
-0.00015     2
-0.00018     1
-0.00044     1
 0.00002     1
-0.00040     1
-0.00013     1
-0.00019     1
 0.00317     1
-0.00029     1
-0.00038     1
 0.00134     1
 0.00064     1
 0.00020     1
-0.00049     1
-0.00041     1
-0.00032     1
 0.00107     1
-0.00063     1
-0.00022     1
-0.00027     1
 0.00089     1
Name: pls, dtype: int64
-----------------------------------------------------
Wall time: 8min 54s

,date,year_val,month_val,date_val,hour_val,minute_val,close_type,pls
0,2021-04-01 06:32:15,2021,4,1,6,32,pl_move_close,0.00007
1,2021-04-01 08:41:12,2021,4,1,8,41,pl_move_close,0.00006
2,2021-04-01 08:48:25,2021,4,1,8,48,sema_close,-0.00028
3,2021-04-01 08:50:01,2021,4,1,8,50,sema_close,-0.00015
4,2021-04-01 08:50:06,2021,4,1,8,50,sema_close,-0.00013
...,...,...,...,...,...,...,...,...
58,2021-04-05 17:38:20,2021,4,5,17,38,angle_close,0.00107
59,2021-04-05 19:21:10,2021,4,5,19,21,pl_move_close,0.00007
60,2021-04-05 20:11:29,2021,4,5,20,11,sema_close,-0.00028
61,2021-04-05 20:58:00,2021,4,5,20,58,sema_close,-0.00029
62,2021-04-05 21:08:19,2021,4,5,21,8,pl_move_close,0.00002