In [43]:
import numpy as np
import pandas as pd
from tqdm import tqdm

In [44]:
raw_df = pd.read_csv('data\M1_2019.csv')
df = raw_df[['TS', 'Close']]
df = df[:10]
df.head()

                 TS    Close
0  2019-01-01 17:02  1.14598
1  2019-01-01 17:03  1.14607
2  2019-01-01 17:04  1.14606
3  2019-01-01 17:05  1.14621
4  2019-01-01 17:06  1.14665

In [45]:
def new_df(roll_len):
    col_list = ['TS']

    for i in tqdm(range(roll_len)):
        col_list.append(i)

    df1 = pd.DataFrame()
    df1 = pd.DataFrame(columns = col_list)
    #df1['TS'] = ''
    return(df1, col_list)

In [46]:
def new_df(roll_len):
    col_list = []

    for i in tqdm(range(roll_len)):
        col_list.append(i)
    
    col_list.append('TS')
    return(col_list)

In [47]:
def reorder_df(df, df1, roll_len):
    tot_list = []
    for i, val in tqdm(df.iterrows()):
        act_row = i+roll_len-1
        l = list(df['Close'][i:act_row+1])    
        if len(l) == roll_len:
            tot_list.append(l)
            l.append(df['TS'][act_row])
    df1=pd.DataFrame(tot_list,columns=col_list)
    return(df1)

In [48]:
roll_len = 3

In [49]:
col_list = new_df(roll_len)

100%|████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<?, ?it/s]

In [50]:
col_list

[0, 1, 2, 'TS']

In [56]:
df1 = rolled_df
tot_list = []
for i, val in tqdm(df.iterrows()):
    act_row = i+roll_len-1
    l = list(df['Close'][i:act_row+1])    
    if len(l) == roll_len:
        tot_list.append(l)
        l.append(df['TS'][act_row])
df1=pd.DataFrame(tot_list,columns=col_list)

10it [00:00, 5014.11it/s]

In [21]:
df1 = rolled_df
for i, val in tqdm(df.iterrows()):
    act_row = i+roll_len-1
    l = list(df['Close'][i:act_row+1])
    print(l)
    if len(l) == roll_len:
        for j, val in enumerate(l):    
            df1.at[i, j] = val
            #print(df1)
        df1.at[i, 'TS'] = df['TS'][act_row]

10it [00:00, 1670.84it/s]

[1.14598, 1.14607, 1.14606]
[1.14607, 1.14606, 1.14621]
[1.14606, 1.14621, 1.14665]
[1.14621, 1.14665, 1.14607]
[1.14665, 1.14607, 1.14607]
[1.14607, 1.14607, 1.14606]
[1.14607, 1.14606, 1.14607]
[1.14606, 1.14607, 1.14607]
[1.14607, 1.14607]
[1.14607]

In [34]:
col_list = [0,1,2]

In [36]:
df1

         0        1        2
0  1.14598  1.14607  1.14606
1  1.14607  1.14606  1.14621
2  1.14606  1.14621  1.14665
3  1.14621  1.14665  1.14607
4  1.14665  1.14607  1.14607
5  1.14607  1.14607  1.14606
6  1.14607  1.14606  1.14607
7  1.14606  1.14607  1.14607

In [ ]:
rolled_df = reorder_df(df, rolled_df, roll_len)

In [ ]:
rolled_df.to_csv('rolled_df.csv')

In [55]:
df

                 TS    Close
0  2019-01-01 17:02  1.14598
1  2019-01-01 17:03  1.14607
2  2019-01-01 17:04  1.14606
3  2019-01-01 17:05  1.14621
4  2019-01-01 17:06  1.14665
5  2019-01-01 17:07  1.14607
6  2019-01-01 17:08  1.14607
7  2019-01-01 17:09  1.14606
8  2019-01-01 17:10  1.14607
9  2019-01-01 17:11  1.14607