# Packages

In [1]:
import numpy as np
import pandas as pd
from pandas_profiling import ProfileReport

# File location

In [5]:
df = pd.read_csv('Dataset.csv',encoding='cp1252')
df.head()

,ID,ACCOUNTID,ACCT_NAME,CLOSEDATE,TYPE,LEADSOURCE,BROKER_LED_Y_N__C,LEAD_OFFICE__C,LEAD_REGION__C,PRACTICE_GROUPS__C,...,REGION,PARENT + 3,PARENT + 4,PARENT + 5,CLIENT__C,PROPERTY_ADDRESS,Market_Trans,Major_Market_Trans,Tenant,INDUSTRY
0,0060y000017xRFdAAM,0010y00001ZJN4yAAH,10X Genomics,8/2/2018,NaN,Existing Relationship,0,Walnut Creek,USA,TAG,...,Walnut Creek,Northwest,West Region,US,10X Genomics,"6230 Stoneridge Mall Rd, Pleasanton, Californi...",NorCal - Pleasanton,Northern Cal,10x Genomics,Life Science/Bio Technology
1,0060y00001Cxk6CAAR,0010y00001ZJN4yAAH,10X Genomics,2/14/2020,NaN,Existing Relationship,0,San Francisco,USA,NaN,...,San Francisco,Northwest,West Region,US,10X Genomics,"3 Embarcadero Center, San Francisco, Californi...",NorCal - San Francisco,Northern Cal,10x Genomics,Life Science/Bio Technology
2,0060y00001Feo5hAAB,0010y00001ZJN4yAAH,10X Genomics,11/10/2020,NaN,Existing Relationship,0,Walnut Creek,USA,NaN,...,Walnut Creek,Northwest,West Region,US,10X Genomics,"6210 Stoneridge Mall Road, Pleasanton, Califor...",NorCal - Pleasanton,Northern Cal,10x Genomics,Life Science/Bio Technology
3,0060y000016c55uAAA,0010y00001ZJN4yAAH,10X Genomics,2/27/2018,NaN,Existing Relationship,0,San Francisco,USA,TAG,...,San Francisco,Northwest,West Region,US,10X Genomics,"160 Spear Street, San Francisco, California, U...",NorCal - San Francisco,Northern Cal,10x Genomics,Life Science/Bio Technology
4,0060y000016cGPCAA2,0010y00001ZJN4yAAH,10X Genomics,4/4/2018,Existing Client,Existing Relationship,0,Walnut Creek,USA,TAG,...,Walnut Creek,Northwest,West Region,US,10X Genomics,"7180 Koll Center Parkway, Pleasanton, Californ...",NorCal - Pleasanton,Northern Cal,10x Genomics,Life Science/Bio Technology

# Remove columns : Optional

In [3]:
remove_cols = ['tick_avg', 'sema', 'ssma', 'lema', 'lsma', 'max_tick', 'min_tick', 'rs']
df.drop(remove_cols, axis=1, inplace=True)
df.head()

,spread_avg,tick_sd,sema_diff,lema_diff,diff,avg_gain,avg_loss,rsi,ssma_diff,lsma_diff,sma_diff,max_gap,min_gap,small_sema_slope,long_sema_slope,ema_diff,direction
0,0.000066,0.000033,0.000012,0.000015,-0.000010,0.000048,0.000031,60.794225,0.000012,0.000020,0.000005,0.000010,-0.000080,70.612793,73.944203,4.656341e-06,same
1,0.000064,0.000047,0.000025,0.000024,0.000047,0.000051,0.000031,62.403090,0.000017,0.000018,0.000004,0.000000,-0.000128,66.988763,69.384005,5.775423e-06,same
2,0.000056,0.000017,0.000008,0.000006,-0.000029,0.000051,0.000026,66.416325,0.000020,0.000009,0.000015,0.000029,-0.000053,61.432577,64.510105,7.139294e-06,same
3,0.000053,0.000024,-0.000027,-0.000019,-0.000077,0.000051,0.000031,62.397533,-0.000005,0.000003,0.000006,0.000107,0.000000,34.360164,48.193468,-7.157767e-07,same
4,0.000050,0.000051,-0.000059,-0.000049,-0.000101,0.000051,0.000038,57.605064,-0.000034,-0.000021,-0.000007,0.000208,0.000000,-51.532544,-27.353344,-1.083790e-05,decrease

# Create Report & Save

In [6]:
profile = ProfileReport(df)
profile.to_file(output_file="output.html")

Summarize dataset:   0%|          | 0/63 [00:00<?, ?it/s]

c:\users\91989\appdata\local\programs\python\python36\lib\site-packages\pandas_profiling\model\correlations.py:192: RuntimeWarning: invalid value encountered in greater_equal
  bool_index = abs(correlation_matrix.values) >= threshold

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

# Dashboard

profile