# ML Trader

In [1]:
from utils.packages import *
from utils.variables import *
from utils.i_o import *
from utils.dir_slope import *
from utils.engine import *
from utils.loops import *
from utils.order import *
import winsound

In [2]:
%%time
data = get_date_list(data)

Wall time: 998 µs

In [3]:
%%time
data = get_rolling_emas(data)

Record num : 10000
Wall time: 21.1 s

In [4]:
data['df']['DateTime_frmt']   = [dt.datetime.strptime(x,"%Y%m%d %H:%M:%S.%f") for x in data["df"]['DateTime']]
data['df'] = data['df'][['DateTime_frmt', 'Bid', 'Ask', 'tick', 'sema', 'slema', 'lema', 'tick_angle']]

In [5]:
data = get_hl(data)

100%|████████████████████████████████| 10000/10000 [00:00<00:00, 453286.36it/s]

In [6]:
data = get_h_avg(data)

100%|███████████████████████████████████| 10000/10000 [00:12<00:00, 828.45it/s]

In [7]:
data['df'].head(2)

,DateTime_frmt,Bid,Ask,tick,sema,slema,lema,tick_angle,h,l,h_l_gap,h_avg,l_avg,h_gap,l_gap,h_lema,l_lema
0,2021-01-03 23:13:08.820,1.22379,1.22386,1.223825,1.223818,1.223775,1.223707,17.814052,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-01-03 23:13:08.922,1.22379,1.22388,1.223835,1.223818,1.223775,1.223708,17.844068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
data['df'][data['df']['h_l_gap'].notnull()]

,DateTime_frmt,Bid,Ask,tick,sema,slema,lema,tick_angle,h,l,h_l_gap,h_avg,l_avg,h_gap,l_gap,h_lema,l_lema
500,2021-01-03 23:20:23.127,1.22337,1.22340,1.223385,1.223639,1.223712,1.223744,16.449510,NaN,NaN,0.000635,NaN,NaN,NaN,NaN,NaN,NaN
1000,2021-01-03 23:31:31.292,1.22417,1.22423,1.224200,1.224034,1.223884,1.223798,-4.114148,NaN,NaN,0.000865,NaN,NaN,NaN,NaN,NaN,NaN
1500,2021-01-03 23:41:26.210,1.22459,1.22464,1.224615,1.224458,1.224406,1.224233,31.275479,NaN,NaN,0.000500,NaN,NaN,NaN,NaN,NaN,NaN
2000,2021-01-03 23:48:00.812,1.22492,1.22498,1.224950,1.224657,1.224645,1.224574,39.117761,NaN,NaN,0.000575,1.224617,1.223970,0.000043,0.000604,1.224617,1.223970
2500,2021-01-03 23:54:38.115,1.22486,1.22490,1.224880,1.225079,1.225058,1.224938,33.544417,NaN,NaN,0.000465,1.224962,1.224448,0.000024,0.000490,1.224962,1.224448
3000,2021-01-04 00:01:45.178,1.22477,1.22479,1.224780,1.224888,1.224919,1.224962,21.578962,NaN,NaN,0.000345,1.225105,1.224643,0.000143,0.000319,1.225105,1.224643
3500,2021-01-04 00:06:55.676,1.22466,1.22469,1.224675,1.224542,1.224505,1.224614,-21.631184,NaN,NaN,0.000500,1.225053,1.224617,0.000439,-0.000003,1.225053,1.224617
4000,2021-01-04 00:13:24.966,1.22485,1.22489,1.224870,1.224843,1.224744,1.224650,-19.266426,NaN,NaN,0.000500,1.224935,1.224487,0.000285,0.000163,1.224935,1.224487
4500,2021-01-04 00:20:27.024,1.22445,1.22450,1.224475,1.224358,1.224396,1.224495,-2.024270,NaN,NaN,0.000715,1.224868,1.224297,0.000373,0.000198,1.224868,1.224297
5000,2021-01-04 00:28:13.500,1.22460,1.22463,1.224615,1.224591,1.224477,1.224428,-19.039903,1.224615,NaN,0.000675,1.224857,1.224227,0.000429,0.000201,1.224857,1.224227
5500,2021-01-04 00:37:04.959,1.22402,1.22405,1.224035,1.224181,1.224251,1.224323,-2.993033,NaN,NaN,0.000595,1.224753,1.224092,0.000430,0.000231,1.224753,1.224092
6000,2021-01-04 00:46:46.263,1.22430,1.22435,1.224325,1.224221,1.224165,1.224180,-19.213552,NaN,NaN,0.000545,1.224597,1.223992,0.000417,0.000188,1.224597,1.223992
6500,2021-01-04 00:56:45.249,1.22407,1.22412,1.224095,1.224162,1.224185,1.224181,-4.738105,NaN,NaN,0.000350,1.224455,1.223958,0.000274,0.000223,1.224455,1.223958
7000,2021-01-04 01:03:05.004,1.22413,1.22417,1.224150,1.224123,1.224120,1.224138,-3.074895,NaN,NaN,0.000310,1.224343,1.223942,0.000205,0.000196,1.224343,1.223942
7500,2021-01-04 01:10:06.929,1.22487,1.22493,1.224900,1.224857,1.224692,1.224484,12.488194,NaN,NaN,0.000935,1.224533,1.224002,0.000049,0.000482,1.224533,1.224002
8000,2021-01-04 01:16:51.697,1.22474,1.22477,1.224755,1.224780,1.224812,1.224769,38.353378,NaN,NaN,0.000465,1.224772,1.224202,0.000003,0.000567,1.224772,1.224202
8500,2021-01-04 01:25:02.403,1.22475,1.22481,1.224780,1.224627,1.224618,1.224676,8.487508,NaN,NaN,0.000405,1.224967,1.224365,0.000291,0.000311,1.224967,1.224365
9000,2021-01-04 01:31:45.465,1.22427,1.22433,1.224300,1.224402,1.224456,1.224520,-14.480395,NaN,NaN,0.000640,1.224922,1.224418,0.000402,0.000102,1.224922,1.224418
9500,2021-01-04 01:39:04.521,1.22464,1.22466,1.224650,1.224454,1.224375,1.224384,-21.482383,NaN,NaN,0.000505,1.224797,1.224280,0.000413,0.000104,1.224797,1.224280

In [9]:
data['df'][498:503]

,DateTime_frmt,Bid,Ask,tick,sema,slema,lema,tick_angle,h,l,h_l_gap,h_avg,l_avg,h_gap,l_gap,h_lema,l_lema
498,2021-01-03 23:20:22.975,1.22339,1.22344,1.223415,1.223644,1.223715,1.223746,16.514561,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
499,2021-01-03 23:20:23.076,1.22337,1.22343,1.223400,1.223642,1.223714,1.223745,16.482269,NaN,1.22340,NaN,NaN,NaN,NaN,NaN,NaN,NaN
500,2021-01-03 23:20:23.127,1.22337,1.22340,1.223385,1.223639,1.223712,1.223744,16.449510,NaN,NaN,0.000635,NaN,NaN,NaN,NaN,NaN,NaN
501,2021-01-03 23:20:26.628,1.22338,1.22340,1.223390,1.223637,1.223711,1.223743,16.416285,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502,2021-01-03 23:20:26.730,1.22336,1.22340,1.223380,1.223634,1.223709,1.223743,16.383227,NaN,1.22338,NaN,NaN,NaN,NaN,NaN,NaN,NaN

data['df']['h_lema'] = data['df']['lema'] + data['df']['h_avg']
data['df']['l_lema'] = data['df']['lema'] - data['df']['l_avg']

In [10]:
plotly_graph(data)

In [11]:
i = 5000
temp = data['df']['h'][500:1000]

In [12]:
temp.dropna()

979    1.224245
Name: h, dtype: float64

In [13]:
sys.exit()

SystemExit:

In [ ]:
def roll_mean(h_l_list):
    new_list = h_l_list.dropna()
    list_mean = new_list
    return(list_mean)

In [ ]:
temp = data['df']['h'].rolling(window=10).progress_apply(roll_mean)

In [ ]:
temp = data['df']['h'].rolling(5).mean()

In [ ]:
temp = data['df']['h']

In [ ]:
data['df']['h'][0]

In [ ]:
for i in temp:
    if not math.isnan(i):
        print(i)

In [ ]:
for i in range(len(data['df'])):
    if i % data['']
    
    
    print(i)
    if i > 5:
        break

In [ ]:
for i in data['df']['h']:
    if not math.isnan(i):
        print(i)

In [ ]:
data['df']['h'][127:130]

In [ ]:
data['df']['h'][0:500].mean()

In [ ]:
data['df']['h'][500:1000].mean()

In [ ]:
data['df']['h'][125:130]

In [ ]:
temp[125:130]

In [ ]:
df = pd.DataFrame()

In [ ]:
df['l'] = pd.Series(dtype='float')

In [ ]:
df['l'] = np.nan

In [ ]:
df['l'].loc[0] = 1

In [ ]:
df['l'].loc[1] = 2
df['l'].loc[3] = 3
df['l'].loc[4] = 4

In [ ]:
df

In [ ]:
l = pd.Series([0, '', 1,2,3])

In [ ]:
l

In [ ]:
l1

In [ ]:
l = l.fillna(method='ffill')

In [ ]:
l.mean()

In [ ]:
l.rolling(3).mean()

In [ ]:
data['df'][495:510]

In [ ]:
data['df'].to_csv('data/temp.csv')

In [ ]:
i = 1501
data['df']['h'].loc[i - data['candle_size'] : i-1].dropna().mean()

In [ ]:
data = run_engine(data)

In [ ]:
data['temp_df']['open_order'] = data['open_order_temp_list']
data['temp_df']['pl'] = data['pl_temp_list'] 
data['temp_df'].to_csv('data/temp.csv')

In [ ]:
min(data['temp_df']['pl'])

In [ ]:
max(data['temp_df']['pl'])

In [ ]:
max(data['temp_df']['open_order'])

In [ ]:
data['dt_val']

In [ ]:
data['orders_list']

In [ ]:
if data["plot"]:
    data = adjust_plot_list_lengths(data)
    plot_graph(data)
    
print('-----------------------------------------------------')
print_report(data)
print('-----------------------------------------------------')
print(data['report_df'].groupby(['month_val'])['pls'].sum())
print('-----------------------------------------------------')
print(data['report_df']['close_type'].value_counts())
print('-----------------------------------------------------')
winsound.PlaySound('C:\\Windows\\Media\\tada.wav', winsound.SND_ASYNC)

In [ ]:
data['report_df'].groupby(['date_val'])['pls'].sum()

In [ ]:
winsound.PlaySound('C:\\Windows\\Media\\tada.wav', winsound.SND_ASYNC)
send_telegram_message(f'Run Complete : {data["df_name"]}')

In [ ]:
data['report_df'].groupby(['close_type'])['pls'].count()

In [ ]:
data['report_df'].groupby(['close_type'])['pls'].mean()

In [ ]:
data['report_df'].groupby(['close_type'])['pls'].sum()

In [ ]:
data['report_df'].groupby(['close_type'])['pls'].count()

In [ ]:
x = np.round(data['report_df'].groupby(['month_val', 'date_val'])['pls'].sum().values.mean(),4)
print(f'Average pips per day : {x}')

In [ ]:
x = data['report_df'].groupby(['month_val', 'date_val'])['pls'].count().values.mean()
print(f'Average orders per day : {x}')

In [ ]:
data['report_df'].groupby(['date'])['date'].count().value_counts().sort_values(ascending=False)

In [ ]:
data['report_df']['duration'].sort_values(ascending=False)