# ML Trader

In [1]:
from utils.packages import *
from utils.variables import *
from utils.i_o import *
from utils.dir_slope import *
from utils.engine import *
from utils.loops import *
from utils.order import *
from utils.ml import *
import winsound

### Action Points

1. Create Choice between Take profit and sema move close.
    - If Sema is above slema for long position, then can we cancel take profit step
    - can we use sema angle to decide whether to close profit or not
    - Fix Merge issue

In [2]:
%%time
data = run_engine(data)

Date List Created
Record num : 684744

  0%|                                                 | 0/2267 [00:00<?, ?it/s]

format_tick_time : Completed

100%|████████████████████████████████████| 2267/2267 [00:00<00:00, 3645.80it/s]

get_ohlc         : completed
get_tick_indicators  : Completed
encode_x_y_split    : Completed
train_model         : Completed
-------------------------------------
Overall Accuracy : 0.5873015873015873
-------------------------------------
              precision    recall  f1-score   support

        down       0.65      0.56      0.60       213
      no_dir       0.62      0.49      0.55        53
          up       0.53      0.65      0.58       175

    accuracy                           0.59       441
   macro avg       0.60      0.57      0.58       441
weighted avg       0.60      0.59      0.59       441

Wall time: 22 s

In [3]:
data['df_ohlc'].tail()

,DateTime_frmt,open,high,low,close,Volume,num_ticks,candle_size,dir,weekday,hour,min,lema,sema,BBand_upper,BBand_middle,BBand_lower,HT_trendline,ADX
2199,2022-06-10 20:30:00,1.051840,1.05188,1.051505,1.051555,194,88,0.000375,up,4,20,30,1.052196,1.051948,1.052586,1.052062,1.051537,1.052080,10.265179
2200,2022-06-10 20:35:00,1.051585,1.05169,1.051545,1.051650,334,118,0.000145,up,4,20,35,1.052175,1.051919,1.052582,1.052033,1.051485,1.052058,9.998287
2201,2022-06-10 20:40:00,1.051645,1.05176,1.051645,1.051760,122,52,0.000115,up,4,20,40,1.052158,1.051904,1.052582,1.052021,1.051460,1.052039,9.863966
2202,2022-06-10 20:45:00,1.051765,1.05204,1.051760,1.051990,203,104,0.000280,up,4,20,45,1.052152,1.051912,1.052581,1.052020,1.051459,1.052020,10.179027
2203,2022-06-10 20:50:00,1.052000,1.05225,1.051960,1.052145,264,135,0.000290,down,4,20,50,1.052151,1.051934,1.052555,1.052010,1.051465,1.052006,10.772263

In [4]:
sys.exit()

SystemExit:

In [ ]:
data["plot"] = False
data['plot_type'] = 'file'
data['reduce_plot'] = True
data['plot_start']  = '2022-07-11'
data['plot_stop']   = '2022-07-12'
# data['things_to_plot'] = ['tick', 'ema', 'BBands', 'dots']
data['things_to_plot'] = ['ema', 'BBands', 'dots']
plot_graph(data)

generate_result_report(data)