# ML Trader

In [1]:
from utils.packages import *
from utils.variables import *
from utils.i_o import *
from utils.dir_slope import *
from utils.engine import *
from utils.loops import *
from utils.order import *
import winsound

### Action Points

1. Create Choice between Take profit and sema move close.
    - If Sema is above slema for long position, then can we cancel take profit step
    - can we use sema angle to decide whether to close profit or not
    - Fix Merge issue

In [2]:
%%time
data = run_engine(data)

Date List Created
Record num : 159693

  0%|                                                  | 0/175 [00:00<?, ?it/s]

Tick and Time formatting completed
EMA Rolling completed
EMA Rolling completed
Merging OHLC data with full data ...

100%|██████████████████████████████████████| 175/175 [00:00<00:00, 1107.25it/s]

Wall time: 17.2 s

In [3]:
data["plot"] = True
data['plot_type'] = 'file'
data['reduce_plot'] = True
data['plot_start']  = '2022-06-1'
data['plot_stop']   = '2022-06-2'
data['things_to_plot'] = ['tick', 'ema', 'BBands', 'dots']
plot_graph(data)

In [7]:
sys.exit()

SystemExit:

In [ ]:
generate_result_report(data)

In [16]:
data['df']

,Bid,Ask,tick,sema,lema,DateTime_frmt,BBand_upper,BBand_middle,BBand_lower,open,...,low,close,Volume,num_ticks,candle_size,up_range,down_range,up,down,dir
0,1.07123,1.07125,1.071240,1.071712,1.071927,2022-06-01 04:20:21,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.07120,1.07123,1.071215,1.071711,1.071926,2022-06-01 04:20:21,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.07118,1.07122,1.071200,1.071711,1.071926,2022-06-01 04:20:21,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.07118,1.07123,1.071205,1.071710,1.071926,2022-06-01 04:20:21,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.07118,1.07122,1.071200,1.071710,1.071926,2022-06-01 04:20:21,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147190,1.07500,1.07505,1.075025,1.074844,1.074371,2022-06-02 23:59:11,1.07485,1.07485,1.07485,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147191,1.07501,1.07505,1.075030,1.074845,1.074371,2022-06-02 23:59:13,1.07485,1.07485,1.07485,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147192,1.07499,1.07504,1.075015,1.074845,1.074371,2022-06-02 23:59:24,1.07485,1.07485,1.07485,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147193,1.07501,1.07507,1.075040,1.074845,1.074371,2022-06-02 23:59:24,1.07485,1.07485,1.07485,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147194,1.07500,1.07506,1.075030,1.074845,1.074371,2022-06-02 23:59:26,1.07485,1.07485,1.07485,1.07487,...,1.074825,1.07503,264.0,204.0,0.00025,0.000205,0.000045,1.07503,NaN,up