# ML Trader

In [1]:
from utils.packages import *
from utils.variables import *
from utils.i_o import *
from utils.dir_slope import *
from utils.engine import *
from utils.loops import *
from utils.order import *
import winsound

### Action Points

1. Create Choice between Take profit and sema move close.
    - If Sema is above slema for long position, then can we cancel take profit step
    - can we use sema angle to decide whether to close profit or not
    - Fix Merge issue

In [2]:
%%time
data = run_engine(data)

Date List Created
Record num : 227182
Building slema...
Building Sema...
EMA Rolling completed
Wall time: 15.5 s

In [3]:
data['df_ohlc']

           DateTime_frmt      open      high       low     close  Volume
0    2022-06-01 04:20:00  1.071240  1.071460  1.071190  1.071215     314
1    2022-06-01 04:25:00  1.071175  1.071265  1.071060  1.071255     534
2    2022-06-01 04:30:00  1.071245  1.071320  1.070835  1.070850     414
3    2022-06-01 04:35:00  1.070855  1.071110  1.070730  1.071010     374
4    2022-06-01 04:40:00  1.071015  1.071135  1.070910  1.070960     247
...                  ...       ...       ...       ...       ...     ...
1383 2022-06-05 23:35:00  1.072585  1.072605  1.072470  1.072540     388
1384 2022-06-05 23:40:00  1.072535  1.072745  1.072520  1.072735     343
1385 2022-06-05 23:45:00  1.072680  1.072995  1.072670  1.072920     425
1386 2022-06-05 23:50:00  1.072905  1.072960  1.072525  1.072565     328
1387 2022-06-05 23:55:00  1.072570  1.072705  1.072485  1.072545     358

[1388 rows x 6 columns]

In [4]:
sys.exit()

SystemExit:

In [6]:
from talib import add_all_ta_features

ImportError: cannot import name 'add_all_ta_features'

In [5]:
data['df_ohlc']['cdl_hammer'] = talib.add_all_ta_features(data['df_ohlc'], 
                                                          data['df_ohlc']['open'], 
                                                          data['df_ohlc']['high'], 
                                                          data['df_ohlc']['low'], 
                                                          data['df_ohlc']['close'],
                                                          volume=data['df_ohlc']["Volume"], 
                                                          fillna=True)

AttributeError: module 'talib' has no attribute 'add_all_ta_features'

In [ ]:
data['df_ohlc']

In [ ]:
generate_result_report(data)

In [ ]:
plot_graph(data)