# ML Trader

In [1]:
from utils.packages import *
from utils.variables import *
from utils.i_o import *
from utils.dir_slope import *
from utils.engine import *
from utils.loops import *
from utils.order import *
import winsound

In [2]:
%%time
data = get_date_list(data)
data = read_data(data)

Date List Created
Record num : 129543
Wall time: 13.4 s

In [3]:
%%time
data['df']['tick']      = (data["df"]['Ask'] + data["df"]['Bid'])/2
data['df']['DateTime_frmt']   = [dt.datetime.strptime(x.split(".")[0],"%Y%m%d %H:%M:%S") for x in data["df"]['DateTime']]
data['df_ohlc'] = data['df'][['DateTime_frmt', 'tick']]

Wall time: 1.15 s

In [4]:
data = get_ohlc(data)

In [5]:
data['df_ohlc']['cdl_hammer'] = talib.CDLHAMMER(data['df_ohlc']['open'], data['df_ohlc']['high'], data['df_ohlc']['low'], data['df_ohlc']['close'])
data['df_ohlc']['cdl_engulfing'] = talib.CDLENGULFING(data['df_ohlc']['open'], data['df_ohlc']['high'], data['df_ohlc']['low'], data['df_ohlc']['close'])

In [6]:
data = merge_ohlc_data(data)

100%|████████████████████████████████████████| 288/288 [00:03<00:00, 89.13it/s]

In [7]:
data['df']['cdl_hammer'] = data['df']['cdl_hammer'].replace({0:np.nan})
data['df']['cdl_hammer'] = np.where(data['df']['cdl_hammer'] == 100, data['df']['tick'], data['df']['cdl_hammer'])

data['df']['cdl_engulfing'] = data['df']['cdl_engulfing'].replace({0:np.nan})
data['df']['cdl_engulfing'] = np.where(data['df']['cdl_engulfing'] == 100, data['df']['tick'], data['df']['cdl_engulfing'])
# Temp step
data['df']['cdl_engulfing'] = np.where(data['df']['cdl_engulfing'] == -100, data['df']['tick'], data['df']['cdl_engulfing'])

In [8]:
data['df'][data['df']['cdl_engulfing'].notnull()]

,DateTime,Bid,Ask,Volume,i,tick,DateTime_frmt,open,high,low,close,cdl_hammer,cdl_engulfing
1050,20220720 00:24:59.108,1.02398,1.02405,1,0,1.024015,2022-07-20 00:24:59,1.024010,1.024570,1.023850,1.024495,NaN,1.024015
4116,20220720 01:40:00.595,1.02347,1.02352,8,0,1.023495,2022-07-20 01:40:00,1.023570,1.023885,1.023460,1.023630,NaN,1.023495
6866,20220720 02:54:53.368,1.02385,1.02389,1,0,1.023870,2022-07-20 02:54:53,1.023850,1.024275,1.023830,1.024195,NaN,1.023870
8774,20220720 03:54:58.365,1.02419,1.02425,1,0,1.024220,2022-07-20 03:54:58,1.024215,1.024345,1.024165,1.024330,NaN,1.024220
10380,20220720 04:44:56.632,1.02462,1.02465,1,0,1.024635,2022-07-20 04:44:56,1.024645,1.024765,1.024460,1.024510,NaN,1.024635
10644,20220720 04:54:55.323,1.02464,1.02467,6,0,1.024655,2022-07-20 04:54:55,1.024665,1.024705,1.024285,1.024375,NaN,1.024655
11930,20220720 05:24:59.244,1.02404,1.02408,1,0,1.024060,2022-07-20 05:24:59,1.024025,1.024720,1.023995,1.024595,NaN,1.024060
13093,20220720 05:50:00.300,1.02372,1.02378,2,0,1.023750,2022-07-20 05:50:00,1.023750,1.024020,1.023655,1.023870,NaN,1.023750
15274,20220720 06:15:00.778,1.02311,1.02316,1,0,1.023135,2022-07-20 06:15:00,1.023120,1.023635,1.023120,1.023500,NaN,1.023135
21297,20220720 07:10:00.295,1.02502,1.02505,1,0,1.025035,2022-07-20 07:10:00,1.025035,1.025655,1.024770,1.025635,NaN,1.025035
34650,20220720 08:15:00.855,1.02328,1.02334,6,0,1.023310,2022-07-20 08:15:00,1.023345,1.023810,1.022735,1.022880,NaN,1.023310
35677,20220720 08:20:00.835,1.02272,1.02276,1,0,1.022740,2022-07-20 08:20:00,1.022850,1.023390,1.022375,1.023385,NaN,1.022740
45054,20220720 09:35:00.962,1.02418,1.02420,3,0,1.024190,2022-07-20 09:35:00,1.024170,1.024865,1.024155,1.024845,NaN,1.024190
46225,20220720 09:44:56.596,1.02494,1.02496,2,0,1.024950,2022-07-20 09:44:56,1.024965,1.025010,1.024415,1.024680,NaN,1.024950
60295,20220720 11:04:58.285,1.01928,1.01933,1,0,1.019305,2022-07-20 11:04:58,1.019300,1.020835,1.019220,1.020720,NaN,1.019305
74856,20220720 12:40:00.821,1.01972,1.01977,1,0,1.019745,2022-07-20 12:40:00,1.019765,1.019770,1.018770,1.019230,NaN,1.019745
86766,20220720 13:40:00.590,1.02332,1.02334,5,0,1.023330,2022-07-20 13:40:00,1.023320,1.023355,1.022235,1.022535,NaN,1.023330
104011,20220720 15:40:00.903,1.01980,1.01984,6,0,1.019820,2022-07-20 15:40:00,1.019840,1.020270,1.019555,1.020260,NaN,1.019820
114115,20220720 17:24:59.397,1.01713,1.01717,1,0,1.017150,2022-07-20 17:24:59,1.017165,1.017210,1.016720,1.016780,NaN,1.017150
115009,20220720 17:34:59.709,1.01701,1.01702,1,0,1.017015,2022-07-20 17:34:59,1.017020,1.017020,1.016010,1.016115,NaN,1.017015
116222,20220720 17:50:00.088,1.01630,1.01634,1,0,1.016320,2022-07-20 17:50:00,1.016320,1.016445,1.015810,1.015900,NaN,1.016320
119019,20220720 18:20:00.482,1.01686,1.01689,1,0,1.016875,2022-07-20 18:20:00,1.016880,1.016910,1.016470,1.016510,NaN,1.016875
122410,20220720 19:25:00.633,1.01782,1.01786,1,0,1.017840,2022-07-20 19:25:00,1.017835,1.017975,1.017835,1.017950,NaN,1.017840
123570,20220720 19:55:00.897,1.01781,1.01785,1,0,1.017830,2022-07-20 19:55:00,1.017830,1.017860,1.017410,1.017770,NaN,1.017830
123980,20220720 20:04:50.462,1.01775,1.01780,4,0,1.017775,2022-07-20 20:04:50,1.017810,1.017830,1.017755,1.017755,NaN,1.017775
125839,20220720 21:14:48.192,1.01782,1.01803,1,0,1.017925,2022-07-20 21:14:48,1.017915,1.018005,1.017910,1.018000,NaN,1.017925
125908,20220720 21:30:00.170,1.01795,1.01821,1,0,1.018080,2022-07-20 21:30:00,1.018085,1.018100,1.017820,1.018005,NaN,1.018080
127236,20220720 22:24:56.366,1.01867,1.01870,1,0,1.018685,2022-07-20 22:24:56,1.018680,1.018720,1.018650,1.018715,NaN,1.018685
127315,20220720 22:29:58.678,1.01870,1.01873,1,0,1.018715,2022-07-20 22:29:58,1.018720,1.018720,1.018560,1.018605,NaN,1.018715
128455,20220720 23:14:58.708,1.01829,1.01836,1,0,1.018325,2022-07-20 23:14:58,1.018330,1.018330,1.017930,1.017940,NaN,1.018325

In [9]:
data["plot"] = True
data['plot_type'] = 'file'
data['reduce_plot'] = True
data['plot_start']  = '2022-07-20'
data['plot_stop']   = '2022-07-21'
data['things_to_plot'] = ['tick', 'positions']

In [10]:
plot_graph(data)